<div class="jumbotron py-1 px-0 mb-0 breadcrumbs">
    <div class="container">
        {% if world %}
            <a href="{% url 'locations:location_detail' world_pk=world.pk %}">{{ world.name }}</a>
        {% elif location %}
            <a href="{% url 'locations:location_detail' world_pk=location.world.pk %}">{{ location.world.name }}</a>
        {% else %}
            <span class="fw-bold">Locations</span>
        {% endif %}

        {% if location %}
            <span class="breadcrumbs_separator"> / </span>
            {{ location.name }}
        {% endif %}
    </div>
</div>
