{% extends 'layout.html' %}

{% load static %}
{% load locations_extras %}


{% block title %}Locations | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {% include "locations/breadcrumbs.html" %}
{% endblock %}

{% block body_content %}
    <div class="row mt-3 pb-5">
        <div class="col-lg-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <h5 class="px-1 mb-0">Locations</h5>
                        </div>
                        <div class="col-auto">
                            <div class="dropdown">
                                <a class="btn btn-sm text-dark dropdown-toggle" href="#" role="button" id="table-of-contents-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-lg fa-cog"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="table-of-contents-dropdown">
                                    <a href="{% url 'locations:world_create' %}" class="dropdown-item text-success"><i class="mr-1 fal fa-fw fa-plus" aria-hidden="true"></i> Create world</a>
                                    <a href="{% url 'locations:worlds_delete' %}" class="dropdown-item text-danger"><i class="fal fa-fw fa-trash-alt" aria-hidden="true"></i> Delete worlds</a>
                                    <a href="{% url 'locations:world_export' %}" class="dropdown-item"><i class="fal fa-fw fa-cloud-download" aria-hidden="true"></i> Export worlds</a>
                                    <a href="{% url 'locations:world_import' %}" class="dropdown-item"><i class="fal fa-fw fa-cloud-upload" aria-hidden="true"></i> Import worlds</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <input type="text" class="form-control form-control-sm mb-3" data-type="location" id="location-search" placeholder="Search" />
                    <ul class="contents_list" id="location-list">
                        {% if worlds %}
                            {% for w in worlds %}
                                <li class="li-content">
                                    <a href="" class="world-dropdown-{{ w.pk }}"><i class="fas fa-caret-right"></i></a> <a {% if w == world and not location %}class="font-weight-bold" {% endif %}href="{% url 'locations:location_detail' world_pk=w.pk %}">
                                        {{ w.name }}
                                    </a>
                                </li>
                                {% get_world_locations w.pk as world_locations %}
                                {% if world_locations %}
                                    <div {% if w == world or w == location.world %}style="display:block !important;" {% endif %}class="world-locations-{{ w.pk }}">
                                        <ul style="padding-left: 20px;">
                                            {% for world_location in world_locations %}
                                                {% include "locations/tree_view_template.html" %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <li>You haven't created any worlds yet!</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="card">
                {% if world %}
                    {% include "locations/card_header.html" with obj=world %}
                    <div class="card-body">
                        {% if world.image %}
                            <a href="{{ world.image.url }}" target="_blank">
                                <img class="location-image mb-5" src="{{ world.image.url }}" />
                            </a>
                        {% endif %}
                        {{ world.content|safe }}
                    </div>
                {% elif location %}
                    {% include "locations/card_header.html" with obj=location %}
                    <div class="card-body">
                        {% if location.image %}
                            <a href="{{ location.image.url }}" target="_blank">
                                <img class="location-image mb-5" src="{{ location.image.url }}" />
                            </a>
                        {% endif %}
                        {{ location.content|safe }}
                    </div>
                {% else %}
                    {% include "locations/card_header.html" %}
                    <div class="card-body">
                        <p>You haven't created any worlds yet!</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body_extra %}
    <script src="{% static 'js/location_accordion.js' %}"></script>
    <script src="{% static 'js/location_delete.js' %}"></script>
    <script src="{% static 'js/filter.js' %}"></script>
{% endblock %}
