{% extends 'layout.html' %}

{% block title %}{{ this_location.name }} | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row campaign-row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-cog clearfix">
                    <span class="pull-left">
                        <h3 class="panel-title panel-title-cog">Locations</h3>
                    </span>
                    <span class="pull-right">
                        <ul class="nav navbar-nav navbar-right navbar-cog">
                            <li class="dropdown">
                                <a href="#" class="dropdown-cog dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-lg fa-cog" aria-hidden="true"></i> <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'locations:location_create' %}"><span class="text-success"><i class="fa fa-fw fa-plus" aria-hidden="true"></i> Create location</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </span>
                </div>
                <div class="panel-body">
                    <ul class="contents_list">
                        {% if locations %}
                            {% for location in locations %}
                                {% include "locations/tree_view_template.html" %}
                            {% endfor %}
                        {% else %}
                            <li>You haven't created any locations yet!</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                {% if this_location %}
                    <div class="panel-heading panel-heading-cog clearfix">
                        <span class="pull-left">
                            <h3 class="panel-title panel-title-cog">{{ this_location.name }}</h3>
                        </span>
                        <span class="pull-right">
                            <ul class="nav navbar-nav navbar-right navbar-cog">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-cog dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-lg fa-cog" aria-hidden="true"></i> <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'locations:location_create' location_pk=this_location.pk %}"><span class="text-success"><i class="fa fa-fw fa-plus" aria-hidden="true"></i> Create location</span></a></li>
                                        <li><a href="{% url 'locations:location_update' location_pk=this_location.pk %}"><span class="text-warning"><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> Edit location</span></a></li>
                                        <li><a href="{% url 'locations:location_delete' location_pk=this_location.pk %}"><span class="text-danger"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete location</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </span>
                    </div>
                    <div class="panel-body">
                        <p>{{ this_location.content|safe }}</p>
                    </div>
                {% else %}
                    <div class="panel-heading panel-heading-cog clearfix">
                        <span class="pull-right">
                            <ul class="nav navbar-nav navbar-right navbar-cog">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-cog dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-lg fa-cog" aria-hidden="true"></i> <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'locations:location_create' %}"><span class="text-success"><i class="fa fa-fw fa-plus" aria-hidden="true"></i> Create location</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </span>
                    </div>
                    <div class="panel-body">
                        <p>You haven't created any locations yet!</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
