{% extends 'layout.html' %}
{% load socialaccount %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}Social Accounts | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row campaign-row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Social Accounts
                    </h3>
                </div>
                <div class="panel-body">
                    <p>You currently have the following social accounts connected to Dungeonomics:</p>
                    {% get_social_accounts user as accounts %}
                    {% if accounts %}
                        <ul>
                            {% for account in accounts %}
                                <li><strong>{{ account|capfirst }}</strong></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>None</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Add Social Accounts
                    </h3>
                </div>
                <div class="panel-body">
                    <p>The following social accounts can be linked to Dungeonomics:</p>
                    <ul class="socialaccount_providers">
                        {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
                    </ul>
                    {% include "socialaccount/snippets/login_extra.html" %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Remove Social Accounts
                    </h3>
                </div>
                <div class="panel-body">
                    <p>You can remove the following social accounts from Dungeonomics:</p>
                    {% if form.accounts %}
                        <form method="post" action="{% url 'socialaccount_connections' %}" style="margin-bottom: 0;">
                        {% csrf_token %}
                            <fieldset>
                                {% if form.non_field_errors %}
                                    <div id="errorMsg">{{ form.non_field_errors }}</div>
                                {% endif %}
                                {% for base_account in form.accounts %}
                                    {% with base_account.get_provider_account as account %}
                                        <div class="col-md-12">
                                            <label for="id_account_{{ base_account.id }}">
                                                <input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
                                                <span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{account.get_brand.name}}</span>
                                            </label>
                                        </div>
                                    {% endwith %}
                                {% endfor %}
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-danger btn-block">{% trans 'Remove' %}</button>
                                </div>
                            </fieldset>
                        </form>
                    {% else %}
                        <p>{% trans 'You have no social network accounts connected to Dungeonomics.' %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}