{% extends "_cover.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load account socialaccount %}

{% block head_extra %}
    <link rel="stylesheet" href="/static/css/login.css"/>
{% endblock %}

{% block title %}Sign Up | {{ block.super }}{% endblock %}

{% block body_content %}

    <div class="row">
        <div class="col-md-12">
            <div class="logo">
                <a href="{% url 'home' %}" title="Dungeonomics">
                    <img src="/static/img/logo_login.png" alt="Dungeonomics">
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body" style="padding: 15px 0 0;">
                    <div class="col-md-12">
                        <p class="text-center">
                            {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}
                                You are about to link your <strong>{{provider_name}}</strong> account to {{site_name}}. Please verify your email address:
                            {% endblocktrans %}
                        </p>
                        <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                                {% buttons %}
                                    <button type="submit" class="btn btn-success btn-block">Confirm</button>
                                {% endbuttons %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}