{% load lib_extras %}


<div class="card-header">
    <div class="row justify-content-between align-items-center">
        <div class="col-auto">
            {% if obj %}
                <h5 class="px-1 mb-0">{{ obj.name }}</h5>
            {% endif %}
        </div>
        <div class="col-auto">
            <div class="dropdown">
                <a class="btn btn-sm text-dark dropdown-toggle" href="#" role="button" id="contents-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-lg fa-cog"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="contents-dropdown">
                    {% if obj %}
                        <a href="{% url 'items:item_update' item_pk=item.pk %}" class="dropdown-item"><i class="fal fa-fw fa-edit" aria-hidden="true"></i> Edit item/spell</a>
                        <a href="{% url 'items:item_copy' item_pk=item.pk %}" class="dropdown-item"><i class="fal fa-fw fa-copy" aria-hidden="true"></i> Copy item/spell</a>
                        <a href="{% url 'items:item_delete' item_pk=item.pk %}" class="dropdown-item text-danger"><i class="fal fa-fw fa-trash-alt" aria-hidden="true"></i> Delete item/spell</a>
                    {% else %}
                        <a href="{% url 'items:item_create' %}" class="dropdown-item text-success"><i class="fal fa-fw fa-plus" aria-hidden="true"></i> Create item/spell</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>