{% extends 'layout.html' %}

{% block title %} Copy item/spell | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="px-1 mb-0">Copy item/spell</h5>
                </div>
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <p>Making copy of:</p>
                        <p class="fw-bold text-center">{{ item.name }}</p>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <a href="{% url 'items:item_detail' item_pk=item.pk %}" class="btn btn-secondary">Cancel</a>
                        </div>
                        <div class="col-auto">
                            <input type="submit" class="btn btn-primary" value="Copy item/spell">
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
