{% extends 'layout.html' %}

{% block title %}
    {% if item.pk %}
        {{ item.name }} 
    {% else %}
        Items/Spells 
    {% endif %}
    | {{ block.super }}
{% endblock %}

{% block body_content %}
    {% include "messages.html" %}
    <div class="row mt-3 pb-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <h5 class="px-1 mb-0">Items/Spells</h5>
                        </div>
                        <div class="col-auto">
                            <div class="dropdown">
                                <a class="btn btn-sm text-dark dropdown-toggle" href="#" role="button" id="table-of-contents-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-lg fa-cog"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="table-of-contents-dropdown">
                                    <a href="{% url 'items:item_create' %}" class="dropdown-item text-success"><i class="mr-1 fal fa-fw fa-plus" aria-hidden="true"></i> Create item/spell</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <ul class="contents_list">
                        {% if items %}
                            {% for item in items %}
                                <li class="li-content">
                                    <a href="{% url 'items:item_detail' item_pk=item.pk %}">
                                        {{ item.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li>You haven't created any items/spells yet!</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-md-8">
            <div class="card">
                {% if item %}
                    {% include "items/card_header.html" with obj=item %}
                    <div class="card-body">
                        <p>{% if item.item_type %}{{ item.item_type }}{% endif %}{% if item.rarity and item.item_type %}, {{ item.rarity }}{% elif item.rarity %}{{ item.rarity }}{% else %}{% endif %}</em></p>
                        <hr>
                        {{ item.description|safe }}
                    </div>
                {% else %}
                    {% include "items/card_header.html" with obj=item %}
                    <div class="card-body">
                        <p>You haven't created any items/spells yet!</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}