defusedxml==0.4.1
Django==1.10.2
django-allauth==0.28.0
django-tinymce==2.4.0
django-widget-tweaks==1.4.1
freeze==1.0.10
gunicorn==19.6.0
oauthlib==2.0.0
psycopg2==2.6.2
python3-openid==3.0.10
pytz==2018.3
requests==2.11.1
requests-oauthlib==0.7.0
six==1.10.0
