{% extends 'layout.html' %}

{% block title %} {{ this_section.title }} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <div class="jumbotron breadcrumbs">
        <div class="container">
            <span>
                <span>
                    <a href="{% url 'wiki:home' section_pk=this_section.pk %}">{{ this_section.title }}</a>
                </span>
                <span>
                    {% if this_subsection %}
                        <span class="breadcrumbs_separator"> / </span>
                            {{ this_subsection.title }}
                    {% endif %}
                </span>
            </span>
        </div>
    </div>
{% endblock %}

{% block body_content %}
    <div class="row campaign-row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-cog clearfix">
                    <span class="pull-left">
                        <h3 class="panel-title panel-title-cog">Contents</h3>
                    </span>
                </div>
                <div class="panel-body">
                    <ul class="contents_list">
                        {% if sections %}
                            {% for section in sections %}
                                <li class="li-content"> 
                                    <a href="{% url 'wiki:home' section_pk=this_section.pk %}">
                                        {{ section.title }}
                                    </a>
                                </li>
                                <ul style="padding-left: 20px;">
                                    {% for subsection in subsections %}
                                        {% if subsection.section.pk == section.pk %}
                                            <li class="li-content"> 
                                                <a href="{% url 'wiki:home' section_pk=this_section.pk subsection_pk=subsection.pk %}">
                                                    {{ subsection.title }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                {% if this_section %}
                    {% if not this_subsection %}
                        <div class="panel-heading panel-heading-cog clearfix">
                            <span class="pull-left">
                                <h3 class="panel-title panel-title-cog">{{ this_section.title }}</h3>
                            </span>
                        </div>
                        <div class="panel-body">
                            <p>{{ this_section.content|safe }}</p>
                        </div>
                    {% elif this_section %}
                        <div class="panel-heading panel-heading-cog clearfix">
                            <span class="pull-left">
                                <h3 class="panel-title panel-title-cog">{{ this_subsection.title }}</h3>
                            </span>
                        </div>
                        <div class="panel-body">
                            <p>{{ this_subsection.content|safe }}</p>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}