{% extends 'layout.html' %}
{% load bootstrap3 %}

{% block title %}Delete Section | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default panel-campaign">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>DELETE SECTION</strong></h3>
            </div>
            <div class="panel-body">
                <form method="POST" action="" class="margin-bottom-zero">
                    {% csrf_token %}
                    <p>Please confirm that you want to delete the following section:</p>
                    <p style="font-size: 18px; font-weight: bold;" class="text-center">{{ section.title }}</p>
                    <p class="margin-bottom-zero">This section will be permanently deleted.</p>
            </div>
            <div class="panel-footer clearfix">
                    <a href="{% url 'wiki:home' section_pk=section.pk %}" class="btn btn-default">Cancel</a>
                    <input type="submit" class="btn btn-primary pull-right" value="Delete Section">
                </form>
            </div>
        </div>
    </div>
{% endblock %}