{% load account %}
{% user_display user as user_display %}
{% load i18n %}
{% autoescape off %}
    {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
        <style>
            button {
                font-family: inherit;
                font-size: inherit;
                line-height: inherit;
                
                cursor: pointer;
                
                
                margin: 0;
                font: inherit;
                color: inherit;
                
                
                cursor: default;
                color: buttontext;
                background-color: buttonface;
                
                
                
                border-style: outset;
                border-color: buttonface;
                border-image: initial;
                text-rendering: auto;
                color: initial;
                letter-spacing: normal;
                word-spacing: normal;
                text-transform: none;
                text-indent: 0px;
                
                display: inline-block;
                
                -webkit-writing-mode: horizontal-tb;
            }
        </style>
        <img src="http://dungeonomics.com/static/img/logo_cut.png" />
        <p style="color: #000;">Please confirm your e-mail address to complete your Dungeonomics registration.</p>
        <a class="btn btn-success" href="{{ activate_url }}" style="display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; color: #fff; background-color: #5cb85c; border-color: #4cae4c; -webkit-appearance: button; overflow: visible; align-items: flex-start; box-sizing: border-box; border-width: 2px; text-transform: none; text-decoration: none; text-shadow: none; font-family: Helvetica,Arial,sans-serif;">Confirm your e-mail</a>
    {% endblocktrans %}
{% endautoescape %}