{% load account %}
{% user_display user as user_display %}
{% load i18n %}
{% autoescape off %}
    {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
        <style>
            button {
                font-family: inherit;
                font-size: inherit;
                line-height: inherit;
                
                cursor: pointer;
                
                
                margin: 0;
                font: inherit;
                color: inherit;
                
                
                cursor: default;
                color: buttontext;
                background-color: buttonface;
                
                
                
                border-style: outset;
                border-color: buttonface;
                border-image: initial;
                text-rendering: auto;
                color: initial;
                letter-spacing: normal;
                word-spacing: normal;
                text-transform: none;
                text-indent: 0px;
                
                display: inline-block;
                
                -webkit-writing-mode: horizontal-tb;
            }
        </style>
        <img src="http://dungeonomics.com/static/img/logo_cut.png" />
        <p style="color: #000;">You're receiving this email because you or someone else has request a password for your account at Dungeonomics. If you didn't request this password reset, please <a href="mailto:dungeonomics@gmail.com">contact us</a>. Otherwise, click the link below to reset your password.</p>
        <p>{{ password_reset_url }}</p>
    {% endblocktrans %}
{% endautoescape %}