{% load account %}
{% user_display user as user_display %}
{% load i18n %}
{% autoescape off %}
    {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
        <h1>Dungeonomics</h1>
        <p style="color: #000;">You're receiving this email because you or someone else has request a password for your account at Dungeonomics. If you didn't request this password reset, please <a href="mailto:dungeonomics@gmail.com">contact us</a>. Otherwise, click the link below to reset your password.</p>
        <p>{{ password_reset_url }}</p>
    {% endblocktrans %}
{% endautoescape %}