{% extends 'layout.html' %}

{% load static %}
{% load widget_tweaks %}


{% block title %}
    {% if character %}
        Update character 
    {% else %}
        New character 
    {% endif %}
    | {{ block.super }}
{% endblock %}

{% block head_extra %}
    {{ form.media.css }}
    {{ form.media.js }}

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        var suggestedAttributes = {{suggested_attributes|safe}};

        $(function() {
            $("[id^='id_attribute_set-'][id$='-name']").autocomplete({
                source: suggestedAttributes,
            });
        });
    </script>

    <script type="text/javascript">
        var taggable = [];
        var characters_dict = {{characters|safe}};
        for (var key in characters_dict) {
            taggable.push({
                    'name': characters_dict[key],
                    'id': key,
                    'type': 'character'
                });
        }
        var items_dict = {{items|safe}};
        for (var key in items_dict) {
            taggable.push({
                    'name': items_dict[key],
                    'id': key,
                    'type': 'item'
                });
        }
        var worlds_dict = {{worlds|safe}};
        for (var key in worlds_dict) {
            taggable.push({
                    'name': worlds_dict[key],
                    'id': key,
                    'type': 'world'
                });
        }
        var locations_dict = {{locations|safe}};
        for (var key in locations_dict) {
            taggable.push({
                    'name': locations_dict[key],
                    'id': key,
                    'type': 'location'
                });
        }
        var tables_dict = {{tables|safe}};
        for (var key in tables_dict) {
            taggable.push({
                    'name': tables_dict[key],
                    'id': key,
                    'type': 'table'
                });
        }
        tinymce.init({
            selector: "textarea",
            height : "100",
            plugins: [
            'paste autosave autolink print searchreplace table textcolor wordcount link image mention'
            ],
            menu: {
            edit: {title: 'Edit', items: 'undo redo | cut copy paste pastetext | selectall | searchreplace'},
            insert: {title: 'Insert', items: 'image'},
            view: {title: 'View', items: 'visualaid'},
            format: {title: 'Format', items: 'bold italic underline strikethrough superscript subscript | formats | removeformat'},
            table: {title: 'Table', items: 'inserttable tableprops deletetable | cell row column'}
            },
            toolbar: 'print | fontsizeselect bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link | forecolor backcolor',
            browser_spellcheck: true,
            paste_as_text: true,
            fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
            relative_urls : false,
            remove_script_host : false,
            convert_urls : true,
            mentions: {
                source: taggable,
                delay: 0,
                insert: function(item) {
                    if (item.type == 'item') {
                        var url = "{% url 'items:item_detail' item_pk=999999999999 %}".replace(999999999999, item.id);
                    } else if (item.type == 'table') {
                        var url = "{% url 'tables:table_detail' table_pk=999999999999 %}".replace(999999999999, item.id);
                    } else if (item.type == 'world') {
                        var url = "{% url 'locations:location_detail' world_pk=999999999999 %}".replace(999999999999, item.id);
                    } else if (item.type == 'location') {
                        var url = "{% url 'locations:location_detail' location_pk=999999999999 %}".replace(999999999999, item.id);
                    } else {
                        var url = "{% url 'characters:character_detail' pk=999999999999 %}".replace(999999999999, item.id);
                    }
                    return "<a href=" + url + ">" + item.name + "</a>";
                }
            }
        });
    </script>
{% endblock %}

{% block body_content %}
    <div class="row mt-3 mb-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="px-1 mb-0">
                        {% if character %}
                            <span class="font-weight-bold">Update character:</span> {{ character.name }}
                        {% else %}
                            <span class="font-weight-bold">New character</span>
                        {% endif %}
                    </h4>
                </div>
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="{{ form.name.id_for_label }}">Character name</label>
                                {% render_field form.name class+="form-control" %}
                                {% if form.name.errors %}
                                    {% for error in form.name.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                       
                        {{ formset.management_form }}

                        {% for form in formset %}
                            <div class="form-row formset-row" id="row-{{ forloop.counter0 }}">
                                {% if form.errors %}
                                    {% for error in form.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <div class="form-group col-lg-4">
                                    <label for="{{ form.name.id_for_label }}">Attribute name</label>
                                    {{ form.id }}
                                    {% render_field form.name class+="form-control" %}
                                </div>
                                <div class="form-group col-lg-7">
                                    <label for="{{ form.value.id_for_label }}">Value</label>
                                    {% render_field form.value class+="form-control" %}
                                </div>
                                <div class="form-group col-lg-1 col-delete align-self-end text-right add-row" id="col-delete-{{ forloop.counter0 }}">
                                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="{{ form.notes.id_for_label }}">Notes</label>
                                {% render_field form.notes class+="form-control" %}
                                {% if form.notes.errors %}
                                    {% for error in form.notes.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-between">
                        {% if character %}
                            <div class="col-auto">
                                <a href="{% url 'characters:character_detail' pk=character.pk%}" class="btn btn-secondary">Cancel</a>
                            </div>
                            <div class="col-auto">
                                <input type="submit" class="btn btn-primary" value="Update character">
                            </div>
                        {% else %}
                            <div class="col-auto">
                                <a href="{% url 'characters:character_detail' %}" class="btn btn-secondary">Cancel</a>
                            </div>
                            <div class="col-auto">
                                <input type="submit" class="btn btn-primary" value="Create character">
                            </div>
                        {% endif %}
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row pb-5">
        <div class="col-12">
            <div class="alert alert-info" role="alert" style="text-align:left !important;">
                <p>Each character has the option to have an unlimited amount of attributes. Enter the <span class="font-weight-bold">attribute name</span> and then give it a <span class="font-weight-bold">value</span>.</p>
                <p>We have a list of suggested attributes that have special formatting on the character's stat sheet if used. Type in the <span class="font-weight-bold">attribute name</span> input and a list will dropdown with suggested attributes. We prefer that you use these if your attribute is listed so that we can make your character sheet cleaner.</p>
                <p>Additionally, '@' tagging is available in the <span class="font-weight-bold">Notes</span> section so you can reference other assets.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_extra %}
    <script src="{% static 'js/formset_character_new.js' %}"></script>
{% endblock %}

