{% if stats %}
    <div class="row justify-content-center pt-3 my-3">
        {% for stat, values in stats.items %}
            {% if values.attribute.value %}
                <div class="col-md-1 col">
                    <div class="character-label">
                        <p>{{ values.title }}</p>
                    </div>
                    <div class="character-details">
                        <p>{{ values.attribute.value }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% for attribute in character.attribute_set.all %}
    {% if attribute.name not in stats and attribute.name != "Character type" %}
        <div class="row mb-md-1 mb-3">
            <div class="col-md-auto pr-0">
                <span class="font-weight-bold">{{ attribute.name }}</span>
            </div>
            <div class="col">
                {{ attribute.value }}
            </div>
        </div>
    {% endif %}
{% endfor %}

{% if character.notes %}
    {% if character.attribute_set.all.count > 1 %}<hr>{% endif %}
    <div class="row">
        <div class="col-md-12">
            {{ character.notes|safe }}
        </div>
    </div>
{% endif %}

