{% extends 'layout.html' %}

{% load widget_tweaks %}

{% block title %}Publish - {{ obj.name }} | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row justify-content-center mt-3 pb-3">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="px-1 mb-0">Publish character</h5>
                </div>
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <p>Please confirm that you would like to publish the <span class="fw-bold">{{ obj }}</span> character. If published, users will be able to import your character. This won't affect your character at all, but they will be able to see everything you've put in the character and its notes. Please make sure to remove any personal information like real-life player names or specifics.</p>
                        <p>After your character is published to The Tavern, other users will also be able to rate and comment on the quality of the character.</p>
                        <p>If you'd like, provide an optional description of your character for its Tavern page:</p>

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}

                        <div class="form-group">
                            {% render_field form.tavern_description class+="form-control mb-3" %}
                            {% if form.tavern_description.errors %}
                                {% for error in form.tavern_description.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            {% if type == "monster" %}
                                <a href="{% url 'characters:monster_detail' monster_pk=obj.pk %}" class="btn btn-secondary">Cancel</a>
                            {% elif type == "npc" %}
                                <a href="{% url 'characters:npc_detail' npc_pk=obj.pk %}" class="btn btn-secondary">Cancel</a>
                            {% elif type == "player" %}
                                <a href="{% url 'characters:player_detail' player_pk=obj.pk %}" class="btn btn-secondary">Cancel</a>
                            {% endif %}
                        </div>
                        <div class="col-auto">
                            <input type="submit" class="btn btn-primary" value="Publish">
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
