<div class="row">
    <div class="col-md-12">
        <p>{% if monster.get_size_display %} {{ monster.get_size_display }}{% endif %}{% if monster.creature_type %} {{ monster.creature_type }}{% endif %}{% if monster.get_alignment_display %}, {{ monster.get_alignment_display }}{% endif %}</p>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-12">
        {% if monster.challenge_rating %}<p><span class="font-weight-bold">Challenge Rating</span> {{ monster.challenge_rating }}</p>{% endif %}
        {% if monster.armor_class %}<p><span class="font-weight-bold">Armor Class</span> {{ monster.armor_class }}</p>{% endif %}
        {% if monster.hit_points %}<p><span class="font-weight-bold">Hit Points</span> {{ monster.hit_points }}</p>{% endif %}
        {% if monster.speed %}<p><span class="font-weight-bold">Speed</span> {{ monster.speed }}</p>{% endif %}
    </div>
</div>

{% if monster.challenge_rating or monster.armor_class or monster.hit_points or monster.speed %}<hr>{% endif %}

<div class="row">
    <div class="col-md-2">
        <div class="character-label">
            <p>STR</p>
        </div>
        <div class="character-details">
            <p>{{ monster.strength }} ({{ monster.strength_mod }})</p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="character-label">
            <p>DEX</p>
        </div>
        <div class="character-details">
            <p>{{ monster.dexterity }} ({{ monster.dexterity_mod }})</p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="character-label">
            <p>CON</p>
        </div>
        <div class="character-details">
            <p>{{ monster.constitution }} ({{ monster.constitution_mod }})</p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="character-label">
            <p>INT</p>
        </div>
        <div class="character-details">
            <p>{{ monster.intelligence }} ({{ monster.intelligence_mod }})</p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="character-label">
            <p>WIS</p>
        </div>
        <div class="character-details">
            <p>{{ monster.wisdom }} ({{ monster.wisdom_mod }})</p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="character-label">
            <p>CHA</p>
        </div>
        <div class="character-details">
            <p>{{ monster.charisma }} ({{ monster.charisma_mod }})</p>
        </div>
    </div>
</div>

{% if monster.saving_throws or monster.skills or monster.senses or monster.languages or monster.damage_vulnerabilities or monster.damage_immunities or monster.damage_resistances or monster.condition_immunities %}<hr>{% endif %}

<div class="row">
    <div class="col-md-12">
        {% if monster.saving_throws %}<p><span class="font-weight-bold">Saving Throws</span> {{ monster.saving_throws }}</p>{% endif %}
        {% if monster.skills %}<p><span class="font-weight-bold">Skills</span> {{ monster.skills }}</p>{% endif %}
        {% if monster.senses %}<p><span class="font-weight-bold">Senses</span> {{ monster.senses }}</p>{% endif %}
        {% if monster.languages %}<p><span class="font-weight-bold">Languages</span> {{ monster.languages }}</p>{% endif %}
        {% if monster.damage_vulnerabilities %}<p><span class="font-weight-bold">Damage Vulnerabilities</span> {{ monster.damage_vulnerabilities }}</p>{% endif %}
        {% if monster.damage_immunities %}<p><span class="font-weight-bold">Damage Immunities</span> {{ monster.damage_immunities }}</p>{% endif %}
        {% if monster.damage_resistances %}<p><span class="font-weight-bold">Damage Resistances</span> {{ monster.damage_resistances }}</p>{% endif %}
        {% if monster.condition_immunities %}<p><span class="font-weight-bold">Condition Immunities</span> {{ monster.condition_immunities }}</p>{% endif %}
    </div>
</div>

{% if monster.content %}
    <hr>
    <div class="row">
        <div class="col-md-12">
            {{ monster.content|safe }}
        </div>
    </div>
{% endif %}
