{% extends 'characters/character_layout.html' %}

{% block title %}
    {% if this_monster.pk %}
        {{ this_monster.name }} 
    {% else %}
        Monsters 
    {% endif %}
    | {{ block.super }}
{% endblock %}

{% block character_list_title %}Monster List{% endblock %}

{% block character_list %}
    {% if monsters %}
        {% for monster in monsters %}
            <li style="margin-bottom: 10px;">
                <a href="{% url 'characters:monster_detail' monster_pk=monster.pk %}">
                    {{ monster.name }}
                </a>
            </li>
        {% endfor %}
    {% else %}
        <li>You haven't created any monsters yet!</li>
    {% endif %}
{% endblock %}

{% block character_contents_extra %}
    <li><a href="{% url 'characters:monster_create' %}"><span class="text-success"><i class="fa fa-fw fa-plus" aria-hidden="true"></i> Create monster</span></a></li>
{% endblock %}

{% block character_detail_title %}
    {% if this_monster %}
        {{ this_monster.name }}
    {% else %}
        Monsters
    {% endif %}
{% endblock %}

{% block character_detail_extra %}
    {% if this_monster %}
        <li><a href="{% url 'characters:monster_update' monster_pk=this_monster.pk %}"><span class="text-warning"><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> Edit monster</span></a></li>
        <li><a href="{% url 'characters:monster_delete' monster_pk=this_monster.pk %}"><span class="text-danger"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete monster</span></a></li>
    {% else %}
        <li><a href="{% url 'characters:monster_create' %}"><span class="text-success"><i class="fa fa-fw fa-plus" aria-hidden="true"></i> Create monster</span></a></li>
    {% endif %}
{% endblock %}

{% block character_detail %}
    {% if this_monster %}
        <div class="row">
            <div class="col-md-3">
                <div class="character-label">
                    <p>Level</p>
                </div>
                <div class="character-details">
                    <p>{{ this_monster.level }}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="character-label">
                    <p>Alignment</p>
                </div>
                <div class="character-details">
                    <p>{{ this_monster.get_alignment_display }}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="character-label">
                    <p>Size</p>
                </div>
                <div class="character-details">
                    <p>{{ this_monster.get_size_display }}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="character-label">
                    <p>Languages</p>
                </div>
                <div class="character-details">
                    <p>{{ this_monster.languages }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="character-label">
                    <p>STR</p>
                </div>
                <div class="character-details">
                    <p>{{ this_monster.strength }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="character-label">
                    <p>DEX</p>
                </div>
                <div class="character-details">
                    <p>{{ this_monster.dexterity }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="character-label">
                    <p>CON</p>
                </div>
                <div class="character-details">
                    <p>{{ this_monster.constitution }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="character-label">
                    <p>WIS</p>
                </div>
                <div class="character-details">
                    <p>{{ this_monster.wisdom }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="character-label">
                    <p>INT</p>
                </div>
                <div class="character-details">
                    <p>{{ this_monster.intelligence }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="character-label">
                    <p>CHA</p>
                </div>
                <div class="character-details">
                    <p>{{ this_monster.charisma }}</p>
                </div>
            </div>
        </div>
        <p>Level: {{ this_monster.level }}</p>
        <p>Alignment: {{ this_monster.get_alignment_display }}</p>
        <p>Size: {{ this_monster.get_size_display }}</p>
        <p>Languages: {{ this_monster.languages }}</p>
        <p>Strength: {{ this_monster.strength }}</p>
        <p>Dexterity: {{ this_monster.dexterity }}</p>
        <p>Constitution: {{ this_monster.constitution }}</p>
        <p>Intelligence: {{ this_monster.intelligence }}</p>
        <p>Wisdom: {{ this_monster.wisdom }}</p>
        <p>Charisma: {{ this_monster.charisma }}</p>
        <p>Armor Class: {{ this_monster.armor_class }}</p>
        <p>Hit Points: {{ this_monster.hit_points }}</p>
        <p>Speed: {{ this_monster.speed }}</p>
        <p>Saving Throws: {{ this_monster.saving_throws }}</p>
        <p>Skills: {{ this_monster.skills }}</p>
        <p>Creature Type: {{ this_monster.creature_type }}</p>
        <p>Damage Vulnerabilities: {{ this_monster.damage_vulnerabilities }}</p>
        <p>Damage Immunities: {{ this_monster.damage_immunities }}</p>
        <p>Condition Immunities: {{ this_monster.condition_immunities }}</p>
        <p>Senses: {{ this_monster.senses }}</p>
        <p>Challenge Rating: {{ this_monster.challenge_rating }}</p>
        <p>Traits: {{ this_monster.traits|safe }}</p>
        <p>Actions: {{ this_monster.actions|safe }}</p>
    {% else %}
        <p>You haven't created any monsters yet!</p>
    {% endif %}
{% endblock %}