{% extends 'layout.html' %}

{% load campaign_extras %}


{% block title %}Export monsters | {{ block.super }}{% endblock %}

{% block head_extra %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
{% endblock %}

{% block body_content %}
    <div class="alert alert-info mt-3" role="alert">
        Copy the following code and then share it with friends! They will need to <a href="{% url 'characters:monster_import' %}" class="alert-link">import</a> it in order to view it.
    </div>

    <div class="row mt-3 pb-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="px-1 mb-0">Export monsters</h5>
                </div>
                <div class="card-body">
                    <div class="pre-scrollable" style="max-height: 400px;">
                    {% autoescape on %}
<pre id="code">
{
    {% if monsters %}"monsters": { {% for monster in monsters %}
        "{{ monster.name }}": {
            "alignment": "{{ monster.alignment }}",
            "size": "{{ monster.size }}",
            "languages": "{{ monster.languages }}",
            "strength": "{{ monster.strength }}",
            "dexterity": "{{ monster.dexterity }}",
            "constitution": "{{ monster.constitution }}",
            "intelligence": "{{ monster.intelligence }}",
            "wisdom": "{{ monster.wisdom }}",
            "charisma": "{{ monster.charisma }}",
            "armor_class": "{{ monster.armor_class }}",
            "hit_points": "{{ monster.hit_points }}",
            "speed": "{{ monster.speed }}",
            "saving_throws": "{{ monster.saving_throws }}",
            "skills": "{{ monster.skills }}",
            "creature_type": "{{ monster.creature_type }}",
            "damage_vulnerabilities": "{{ monster.damage_vulnerabilities }}",
            "damage_immunities": "{{ monster.damage_immunities }}",
            "damage_resistances": "{{ monster.damage_resistances }}",
            "condition_immunities": "{{ monster.condition_immunities }}",
            "senses": "{{ monster.senses }}",
            "challenge_rating": "{{ monster.challenge_rating }}",
            "traits": {{ monster.traits }},
            "actions": {{ monster.actions }},
            "notes": {{ monster.notes }}
        {% if forloop.last %}}}{% else %}},{% endif %}{% endfor %}{% endif %}
}
</pre>
                    {% endautoescape %}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button class="btn btn-primary btn-copy" data-clipboard-target="#code">Copy to clipboard</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_extra %}
    <script>
        new ClipboardJS('.btn-copy');
    </script>
{% endblock %}