{% extends 'characters/character_layout.html' %}

{% block title %}
    {% if monster.pk %}
        {{ monster.name }} 
    {% else %}
        Monsters 
    {% endif %}
    | {{ block.super }}
{% endblock %}

{% block character_list_title %}Monster List{% endblock %}

{% block character_list %}
    {% if monsters %}
        {% for m in monsters %}
            <li>
                <a {% if m == monster %}class="font-weight-bold" {% endif %}href="{% url 'characters:monster_detail' monster_pk=m.pk %}">
                    {{ m.name }}
                </a>
            </li>
        {% endfor %}
    {% else %}
        <li>You haven't created any monsters yet!</li>
    {% endif %}
{% endblock %}

{% block character_contents_extra %}
    <a href="{% url 'characters:monster_create' %}" class="dropdown-item text-success"><i class="fal fa-fw fa-plus" aria-hidden="true"></i> Create monster</a>
    <a href="{% url 'characters:monster_export' %}" class="dropdown-item"><i class="fal fa-fw fa-cloud-download" aria-hidden="true"></i> Export monsters</a>
    <a href="{% url 'characters:monster_import' %}" class="dropdown-item"><i class="fal fa-fw fa-cloud-upload" aria-hidden="true"></i> Import monsters</a>
    <a href="{% url 'characters:monster_srd' %}" class="dropdown-item"><i class="fal fa-fw fa-book" aria-hidden="true"></i> SRD monsters</a>
    <a href="{% url 'characters:monsters_delete' %}" class="dropdown-item text-danger"><i class="fal fa-fw fa-trash-alt" aria-hidden="true"></i> Delete monsters</a>
{% endblock %}

{% block character_detail_title %}
    {% if monster %}
        {{ monster.name }}
    {% else %}
        Monsters
    {% endif %}
{% endblock %}

{% block character_detail_extra %}
    {% if monster %}
        <a href="{% url 'characters:monster_update' monster_pk=monster.pk %}" class="dropdown-item"><i class="fal fa-fw fa-edit" aria-hidden="true"></i> Edit monster</a>
        {% if monster.is_published == True %}
            <a href="{% url 'tavern_character_detail' type='monster' pk=monster.pk %}" class="dropdown-item"><i class="mr-1 fal fa-fw fa-cloud-upload" aria-hidden="true"></i> View on The Tavern</a>
        {% else %}
            <a href="{% url 'characters:character_publish' type='monster' pk=monster.pk %}" class="dropdown-item"><i class="mr-1 fal fa-fw fa-cloud-upload" aria-hidden="true"></i> Publish monster</a>
        {% endif %}
        <a href="{% url 'characters:monster_copy' monster_pk=monster.pk %}" class="dropdown-item"><i class="fal fa-fw fa-copy" aria-hidden="true"></i> Copy monster</a>
        <a id="monster-delete" href="{% url 'characters:monster_delete' monster_pk=monster.pk %}" class="dropdown-item text-danger"><i class="fal fa-fw fa-trash-alt" aria-hidden="true"></i> Delete monster</a>
    {% else %}
        <a href="{% url 'characters:monster_create' %}" class="dropdown-item text-success"><i class="fal fa-fw fa-plus" aria-hidden="true"></i> Create monster</a>
    {% endif %}
{% endblock %}

{% block character_detail %}
    {% if monster %}
        <div class="row">
            <div class="col-md-12">
                <p>{% if monster.get_size_display %} {{ monster.get_size_display }}{% endif %}{% if monster.creature_type %} {{ monster.creature_type }}{% endif %}{% if monster.get_alignment_display %}, {{ monster.get_alignment_display }}{% endif %}</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                {% if monster.challenge_rating %}<p><span class="font-weight-bold">Challenge Rating</span> {{ monster.challenge_rating }}</p>{% endif %}
                {% if monster.armor_class %}<p><span class="font-weight-bold">Armor Class</span> {{ monster.armor_class }}</p>{% endif %}
                {% if monster.hit_points %}<p><span class="font-weight-bold">Hit Points</span> {{ monster.hit_points }}</p>{% endif %}
                {% if monster.speed %}<p><span class="font-weight-bold">Speed</span> {{ monster.speed }}</p>{% endif %}
            </div>
        </div>

        {% if monster.challenge_rating or monster.armor_class or monster.hit_points or monster.speed %}<hr>{% endif %}

        <div class="row">
            <div class="col-md-2">
                <div class="character-label">
                    <p>STR</p>
                </div>
                <div class="character-details">
                    <p>{{ monster.strength }} ({{ monster.strength_mod }})</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="character-label">
                    <p>DEX</p>
                </div>
                <div class="character-details">
                    <p>{{ monster.dexterity }} ({{ monster.dexterity_mod }})</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="character-label">
                    <p>CON</p>
                </div>
                <div class="character-details">
                    <p>{{ monster.constitution }} ({{ monster.constitution_mod }})</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="character-label">
                    <p>INT</p>
                </div>
                <div class="character-details">
                    <p>{{ monster.intelligence }} ({{ monster.intelligence_mod }})</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="character-label">
                    <p>WIS</p>
                </div>
                <div class="character-details">
                    <p>{{ monster.wisdom }} ({{ monster.wisdom_mod }})</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="character-label">
                    <p>CHA</p>
                </div>
                <div class="character-details">
                    <p>{{ monster.charisma }} ({{ monster.charisma_mod }})</p>
                </div>
            </div>
        </div>

        {% if monster.saving_throws or monster.skills or monster.senses or monster.languages or monster.damage_vulnerabilities or monster.damage_immunities or monster.damage_resistances or monster.condition_immunities %}<hr>{% endif %}

        <div class="row">
            <div class="col-md-12">
                {% if monster.saving_throws %}<p><span class="font-weight-bold">Saving Throws</span> {{ monster.saving_throws }}</p>{% endif %}
                {% if monster.skills %}<p><span class="font-weight-bold">Skills</span> {{ monster.skills }}</p>{% endif %}
                {% if monster.senses %}<p><span class="font-weight-bold">Senses</span> {{ monster.senses }}</p>{% endif %}
                {% if monster.languages %}<p><span class="font-weight-bold">Languages</span> {{ monster.languages }}</p>{% endif %}
                {% if monster.damage_vulnerabilities %}<p><span class="font-weight-bold">Damage Vulnerabilities</span> {{ monster.damage_vulnerabilities }}</p>{% endif %}
                {% if monster.damage_immunities %}<p><span class="font-weight-bold">Damage Immunities</span> {{ monster.damage_immunities }}</p>{% endif %}
                {% if monster.damage_resistances %}<p><span class="font-weight-bold">Damage Resistances</span> {{ monster.damage_resistances }}</p>{% endif %}
                {% if monster.condition_immunities %}<p><span class="font-weight-bold">Condition Immunities</span> {{ monster.condition_immunities }}</p>{% endif %}
            </div>
        </div>

        {% if monster.content %}
            <hr>
            <div class="row">
                <div class="col-md-12">
                    {{ monster.content|safe }}
                </div>
            </div>
        {% endif %}

    {% else %}
        <p>You haven't created any monsters yet!</p>
    {% endif %}
{% endblock %}
