{% extends 'characters/character_layout.html' %}

{% block title %}
    {% if this_monster.pk %}
        {{ this_monster.name }} 
    {% else %}
        Monsters 
    {% endif %}
    | {{ block.super }}
{% endblock %}

{% block character_list_title %}Monster List{% endblock %}

{% block character_list %}
    {% if monsters %}
        {% for monster in monsters %}
            <li style="margin-bottom: 10px;">
                <a href="{% url 'characters:monster_detail' monster_pk=monster.pk %}">
                    {{ monster.name }}
                </a>
            </li>
        {% endfor %}
    {% else %}
        <li>You haven't created any monsters yet!</li>
    {% endif %}
{% endblock %}

{% block character_contents_extra %}
    <li><a href="{% url 'characters:monster_create' %}"><span class="text-success"><i class="fa fa-fw fa-plus" aria-hidden="true"></i> Create monster</span></a></li>
    <li><a href="{% url 'characters:monster_export' %}"><span class="text-warning"><i class="fa fa-fw fa-download" aria-hidden="true"></i> Export monsters</span></a></li>
    <li><a href="{% url 'characters:monster_import' %}"><span class="text-primary"><i class="fa fa-fw fa-upload" aria-hidden="true"></i> Import monsters</span></a></li>
    <li><a href="{% url 'characters:monster_srd' %}"><span class="text-default"><i class="fa fa-fw fa-book" aria-hidden="true"></i> SRD monsters</span></a></li>
{% endblock %}

{% block character_detail_title %}
    {% if this_monster %}
        {{ this_monster.name }}
    {% else %}
        Monsters
    {% endif %}
{% endblock %}

{% block character_detail_extra %}
    {% if this_monster %}
        <li><a href="{% url 'characters:monster_update' monster_pk=this_monster.pk %}"><span class="text-warning"><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> Edit monster</span></a></li>
        <li><a href="{% url 'characters:monster_copy' monster_pk=this_monster.pk %}"><span class="text-success"><i class="fa fa-fw fa-files-o" aria-hidden="true"></i> Copy monster</span></a></li>
        <li><a href="{% url 'characters:monster_delete' monster_pk=this_monster.pk %}"><span class="text-danger"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete monster</span></a></li>
    {% else %}
        <li><a href="{% url 'characters:monster_create' %}"><span class="text-success"><i class="fa fa-fw fa-plus" aria-hidden="true"></i> Create monster</span></a></li>
    {% endif %}
{% endblock %}

{% block character_stats %}
    {% if this_monster %}
        <div class="row">
            <div class="col-md-12">
                <p>{% if this_monster.get_size_display %} {{ this_monster.get_size_display }}{% endif %}{% if this_monster.creature_type %} {{ this_monster.creature_type }}{% endif %}{% if this_monster.get_alignment_display %}, {{ this_monster.get_alignment_display }}{% endif %}</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                {% if this_monster.challenge_rating %}<p><strong>Challenge Rating</strong> {{ this_monster.challenge_rating }}</p>{% endif %}
                {% if this_monster.armor_class %}<p><strong>Armor Class</strong> {{ this_monster.armor_class }}</p>{% endif %}
                {% if this_monster.hit_points %}<p><strong>Hit Points</strong> {{ this_monster.hit_points }}</p>{% endif %}
                {% if this_monster.speed %}<p><strong>Speed</strong> {{ this_monster.speed }}</p>{% endif %}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-2">
                <div class="character-label">
                    <p>STR</p>
                </div>
                <div class="character-details">
                    <p>{{ this_monster.strength }} ({{ this_monster.strength_mod }})</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="character-label">
                    <p>DEX</p>
                </div>
                <div class="character-details">
                    <p>{{ this_monster.dexterity }} ({{ this_monster.dexterity_mod }})</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="character-label">
                    <p>CON</p>
                </div>
                <div class="character-details">
                    <p>{{ this_monster.constitution }} ({{ this_monster.constitution_mod }})</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="character-label">
                    <p>INT</p>
                </div>
                <div class="character-details">
                    <p>{{ this_monster.intelligence }} ({{ this_monster.intelligence_mod }})</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="character-label">
                    <p>WIS</p>
                </div>
                <div class="character-details">
                    <p>{{ this_monster.wisdom }} ({{ this_monster.wisdom_mod }})</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="character-label">
                    <p>CHA</p>
                </div>
                <div class="character-details">
                    <p>{{ this_monster.charisma }} ({{ this_monster.charisma_mod }})</p>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                {% if this_monster.saving_throws %}<p><strong>Saving Throws</strong> {{ this_monster.saving_throws }}</p>{% endif %}
                {% if this_monster.skills %}<p><strong>Skills</strong> {{ this_monster.skills }}</p>{% endif %}
                {% if this_monster.senses %}<p><strong>Senses</strong> {{ this_monster.senses }}</p>{% endif %}
                {% if this_monster.languages %}<p><strong>Languages</strong> {{ this_monster.languages }}</p>{% endif %}
            </div>
        </div>
    {% else %}
        <p>You haven't created any monsters yet!</p>
    {% endif %}
{% endblock %}

{% block character_detail %}
    {% if this_monster %}
        <div class="row">
            <div class="col-md-12">
                {% if this_monster.damage_vulnerabilities %}<p><strong>Damage Vulnerabilities</strong> {{ this_monster.damage_vulnerabilities }}</p>{% endif %}
                {% if this_monster.damage_immunities %}<p><strong>Damage Immunities</strong> {{ this_monster.damage_immunities }}</p>{% endif %}
                {% if this_monster.damage_resistances %}<p><strong>Damage Resistances</strong> {{ this_monster.damage_resistances }}</p>{% endif %}
                {% if this_monster.condition_immunities %}<p><strong>Condition Immunities</strong> {{ this_monster.condition_immunities }}</p>{% endif %}
            </div>
        </div>

        {% if this_monster.traits %}
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <p><strong>Traits</strong> {{ this_monster.traits|safe }}</p>
                </div>
            </div>
        {% endif %}

        {% if this_monster.actions %}
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <p><strong>Actions</strong> {{ this_monster.actions|safe }}</p>
                </div>
            </div>
        {% endif %}

        {% if this_monster.notes %}
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <p><strong>Notes</strong> {{ this_monster.notes|safe }}</p>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}