{% extends 'characters/character_layout.html' %}

{% block title %}
    {% if this_npc.pk %}
        {{ this_npc.name }} 
    {% else %}
        NPCs 
    {% endif %}
    | {{ block.super }}
{% endblock %}

{% block character_list_title %}NPC List{% endblock %}

{% block character_list %}
    {% if npcs %}
        {% for npc in npcs %}
            <li style="margin-bottom: 10px;">
                <a href="{% url 'characters:npc_detail' npc_pk=npc.id %}">
                    {{ npc.name }}
                </a>
            </li>
        {% endfor %}
    {% else %}
        <li>You haven't created any NPCs yet!</li>
    {% endif %}
{% endblock %}

{% block character_contents_extra %}
    <li><a href="{% url 'characters:npc_create' %}"><span class="text-success"><i class="fa fa-fw fa-plus" aria-hidden="true"></i> Create NPC</span></a></li>
{% endblock %}

{% block character_detail_title %}
    {% if this_npc %}
        {{ this_npc.name }}
    {% else %}
        NPCs
    {% endif %}
{% endblock %}

{% block character_detail_extra %}
    {% if this_npc %}
        <li><a href="{% url 'characters:npc_update' npc_pk=this_npc.pk %}"><span class="text-warning"><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> Edit NPC</span></a></li>
        <li><a href="{% url 'characters:npc_copy' npc_pk=this_npc.pk %}"><span class="text-success"><i class="fa fa-fw fa-files-o" aria-hidden="true"></i> Copy NPC</span></a></li>
        <li><a href="{% url 'characters:npc_delete' npc_pk=this_npc.pk %}"><span class="text-danger"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete NPC</span></a></li>
    {% else %}
        <li><a href="{% url 'characters:npc_create' %}"><span class="text-success"><i class="fa fa-fw fa-plus" aria-hidden="true"></i> Create NPC</span></a></li>
    {% endif %}
{% endblock %}

{% block character_stats %}
    {% if this_npc %}
        <div class="row">
            <div class="col-md-12">
                <p>{% if this_npc.get_size_display %} {{ this_npc.get_size_display }}{% endif %}{% if this_npc.creature_type %} {{ this_npc.creature_type }}{% endif %}{% if this_npc.get_alignment_display %}, {{ this_npc.get_alignment_display }}{% endif %}</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                {% if this_npc.challenge_rating %}<p><strong>Challenge Rating</strong> {{ this_npc.challenge_rating }}</p>{% endif %}
                {% if this_npc.npc_class %}<p><strong>Class</strong> {{ this_npc.npc_class }}</p>{% endif %}
                {% if this_npc.age %}<p><strong>Age</strong> {{ this_npc.age }}</p>{% endif %}
                {% if this_npc.height %}<p><strong>Height</strong> {{ this_npc.height }}</p>{% endif %}
                {% if this_npc.weight %}<p><strong>Weight</strong> {{ this_npc.weight }}</p>{% endif %}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                {% if this_npc.armor_class %}<p><strong>Armor Class</strong> {{ this_npc.armor_class }}</p>{% endif %}
                {% if this_npc.hit_points %}<p><strong>Hit Points</strong> {{ this_npc.hit_points }}</p>{% endif %}
                {% if this_npc.speed %}<p><strong>Speed</strong> {{ this_npc.speed }}</p>{% endif %}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-2">
                <div class="character-label">
                    <p>STR</p>
                </div>
                <div class="character-details">
                    <p>{{ this_npc.strength }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="character-label">
                    <p>DEX</p>
                </div>
                <div class="character-details">
                    <p>{{ this_npc.dexterity }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="character-label">
                    <p>CON</p>
                </div>
                <div class="character-details">
                    <p>{{ this_npc.constitution }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="character-label">
                    <p>WIS</p>
                </div>
                <div class="character-details">
                    <p>{{ this_npc.wisdom }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="character-label">
                    <p>INT</p>
                </div>
                <div class="character-details">
                    <p>{{ this_npc.intelligence }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="character-label">
                    <p>CHA</p>
                </div>
                <div class="character-details">
                    <p>{{ this_npc.charisma }}</p>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                {% if this_npc.saving_throws %}<p><strong>Saving Throws</strong> {{ this_npc.saving_throws }}</p>{% endif %}
                {% if this_npc.skills %}<p><strong>Skills</strong> {{ this_npc.skills }}</p>{% endif %}
                {% if this_npc.senses %}<p><strong>Senses</strong> {{ this_npc.senses }}</p>{% endif %}
                {% if this_npc.languages %}<p><strong>Languages</strong> {{ this_npc.languages }}</p>{% endif %}
            </div>
        </div>
    {% else %}
        <p>You haven't created any NPCs yet!</p>
    {% endif %}
{% endblock %}

{% block character_detail %}
    {% if this_npc %}
        <div class="row">
            <div class="col-md-12">
                {% if this_npc.damage_vulnerabilities %}<p><strong>Damage Vulnerabilities</strong> {{ this_npc.damage_vulnerabilities }}</p>{% endif %}
                {% if this_npc.damage_immunities %}<p><strong>Damage Immunities</strong> {{ this_npc.damage_immunities }}</p>{% endif %}
                {% if this_npc.damage_resistances %}<p><strong>Damage Resistances</strong> {{ this_npc.damage_resistances }}</p>{% endif %}
                {% if this_npc.condition_immunities %}<p><strong>Condition Immunities</strong> {{ this_npc.condition_immunities }}</p>{% endif %}
            </div>
        </div>

        {% if this_npc.traits %}
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <p><strong>Traits</strong> {{ this_npc.traits|safe }}</p>
                </div>
            </div>
        {% endif %}

        {% if this_npc.actions %}
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <p><strong>Actions</strong> {{ this_npc.actions|safe }}</p>
                </div>
            </div>
        {% endif %}

        {% if this_npc.notes %}
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <p><strong>Notes</strong> {{ this_npc.notes|safe }}</p>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}