{% extends 'characters/character_layout.html' %}

{% block character_list_title %}NPC List{% endblock %}

{% block character_list %}
    {% if npcs %}
        {% for npc in npcs %}
            <li style="margin-bottom: 10px;">
                <a href="{% url 'characters:npc_detail' npc_pk=npc.id %}">
                    {{ npc.name }}
                </a>
            </li>
        {% endfor %}
    {% else %}
        <li>You haven't created any NPCs yet!</li>
    {% endif %}
{% endblock %}

{% block character_contents_extra %}
    <li><a href="{% url 'characters:npc_create' %}"><span class="text-success"><i class="fa fa-fw fa-plus" aria-hidden="true"></i> Create NPC</span></a></li>
{% endblock %}

{% block character_detail_title %}
    {% if this_npc %}
        {{ this_npc.name }}
    {% else %}
        NPCs
    {% endif %}
{% endblock %}

{% block character_detail_extra %}
    {% if this_npc %}
        <li><a href="{% url 'characters:npc_update' npc_pk=this_npc.pk %}"><span class="text-warning"><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> Edit NPC</span></a></li>
        <li><a href="{% url 'characters:npc_delete' npc_pk=this_npc.pk %}"><span class="text-danger"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete NPC</span></a></li>
    {% else %}
        <li><a href="{% url 'characters:npc_create' %}"><span class="text-success"><i class="fa fa-fw fa-plus" aria-hidden="true"></i> Create NPC</span></a></li>
    {% endif %}
{% endblock %}

{% block character_detail %}
    {% if this_npc %}
        <p>Class: {{ this_npc.npc_class }}</p>
        <p>Personality Traits: {{ this_npc.personality_traits }}</p>
        <p>Age: {{ this_npc.age }}</p>
        <p>Height: {{ this_npc.height }}</p>
        <p>Weight: {{ this_npc.weight }}</p>
        <p>Notes: {{ this_npc.notes }}</p>
        <p>Creature Type: {{ this_npc.creature_type }}</p>
        <p>Damage Vulnerabilities: {{ this_npc.damage_vulnerabilities }}</p>
        <p>Damage Immunities: {{ this_npc.damage_immunities }}</p>
        <p>Condition Immunities: {{ this_npc.condition_immunities }}</p>
        <p>Senses: {{ this_npc.senses }}</p>
        <p>Challenge Rating: {{ this_npc.challenge_rating }}</p>
        <p>Traits: {{ this_npc.traits }}</p>
        <p>Actions: {{ this_npc.actions }}</p>
    {% else %}
        <p>You haven't created any NPCs yet!</p>
    {% endif %}
{% endblock %}