{% extends 'layout.html' %}
{% load bootstrap3 %}

{% block title %}
    {% if player.pk %}
        Update Player 
    {% else %}
        New Player 
    {% endif %}
    | {{ block.super }}
{% endblock %}

{% block head_extra %}
    {{ form.media.css }}
    {{ form.media.js }}

    <script type="text/javascript">
        var taggable = [];
        var monsters_dict = {{monsters|safe}};
        for (var key in monsters_dict) {
            taggable.push({
                    'name': monsters_dict[key],
                    'id': key,
                    'type': 'monster'
                });
        }
        var npcs_dict = {{npcs|safe}};
        for (var key in npcs_dict) {
            taggable.push({
                    'name': npcs_dict[key],
                    'id': key,
                    'type': 'npc'
                });
        }
        var items_dict = {{items|safe}};
        for (var key in items_dict) {
            taggable.push({
                    'name': items_dict[key],
                    'id': key,
                    'type': 'item'
                });
        }
        var players_dict = {{players|safe}};
        for (var key in players_dict) {
            taggable.push({
                    'name': players_dict[key],
                    'id': key,
                    'type': 'player'
                });
        }
        var worlds_dict = {{worlds|safe}};
        for (var key in worlds_dict) {
            taggable.push({
                    'name': worlds_dict[key],
                    'id': key,
                    'type': 'world'
                });
        }
        var locations_dict = {{locations|safe}};
        for (var key in locations_dict) {
            taggable.push({
                    'name': locations_dict[key],
                    'id': key,
                    'type': 'location'
                });
        }
        tinymce.init({
            selector: "textarea",
            height : "100",
            plugins: [
            'paste autosave autolink print searchreplace table textcolor wordcount link image mention'
            ],
            menu: {
            edit: {title: 'Edit', items: 'undo redo | cut copy paste pastetext | selectall | searchreplace'},
            insert: {title: 'Insert', items: 'image'},
            view: {title: 'View', items: 'visualaid'},
            format: {title: 'Format', items: 'bold italic underline strikethrough superscript subscript | formats | removeformat'},
            table: {title: 'Table', items: 'inserttable tableprops deletetable | cell row column'}
            },
            toolbar: 'print | fontsizeselect bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link | forecolor backcolor',
            browser_spellcheck: true,
            paste_as_text: true,
            fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
            mentions: {
                source: taggable,
                delay: 0,
                insert: function(item) {
                    if (item.type == 'item') {
                        var url = "{% url 'items:item_detail' item_pk=999999999999 %}".replace(999999999999, item.id);
                    } else if (item.type == 'world') {
                        var url = "{% url 'locations:location_detail' world_pk=999999999999 %}".replace(999999999999, item.id);
                    } else if (item.type == 'location') {
                        var url = "{% url 'locations:location_detail' location_pk=999999999999 %}".replace(999999999999, item.id);
                    } else {
                        var url = "/" + item.type + "/" + item.id + "/";
                    }
                    return "<a href=" + url + ">" + item.name + "</a>";
                }
            }
        });
    </script>
{% endblock %}

{% block body_content %}
    <div class="col-md-12">
        <div class="panel panel-default panel-campaign">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {% if player.pk %}
                        <strong>Update player:</strong> {{ player.player_name }}
                    {% else %}
                        <strong>New player</strong>
                    {% endif %}
                </h3>
            </div>
            <div class="panel-body">
                <form method="POST" action="">
                    {% csrf_token %}
                    {% bootstrap_form form %}
            </div>
            <div class="panel-footer clearfix">
                {% if player.pk %}
                    <a href="{% url 'characters:player_detail' player_pk=player.pk%}" class="btn btn-default">Cancel</a>
                    <input type="submit" class="btn btn-primary pull-right" value="Update Player">
                {% else %}
                    <a href="{% url 'characters:player_detail' %}" class="btn btn-default">Cancel</a>
                    <input type="submit" class="btn btn-primary pull-right" value="Create Player">
                {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}