{% extends 'characters/character_layout.html' %}

{% block title %}
    {% if this_player.pk %}
        {{ this_player.player_name }} 
    {% else %}
        Players 
    {% endif %}
    | {{ block.super }}
{% endblock %}

{% block character_list_title %}Player List{% endblock %}

{% block character_list %}
    {% if players %}
        {% for player in players %}
            <li style="margin-bottom: 10px;">
                <a href="{% url 'characters:player_detail' player_pk=player.id %}">
                    {{ player.player_name }} ({{ player.character_name }})
                </a>
            </li>
        {% endfor %}
    {% else %}
        <li>You haven't created any Players yet!</li>
    {% endif %}
{% endblock %}

{% block character_contents_extra %}
    <li><a href="{% url 'characters:player_create' %}"><span class="text-success"><i class="fa fa-fw fa-plus" aria-hidden="true"></i> Create Player</span></a></li>
{% endblock %}

{% block character_detail_title %}
    {% if this_player %}
        {{ this_player.player_name }} ({{ this_player.character_name }})
    {% else %}
        Players
    {% endif %}
{% endblock %}

{% block character_detail_extra %}
    {% if this_player %}
        <li><a href="{% url 'characters:player_update' player_pk=this_player.pk %}"><span class="text-warning"><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> Edit Player</span></a></li>
        <li><a href="{% url 'characters:player_copy' player_pk=this_player.pk %}"><span class="text-success"><i class="fa fa-fw fa-files-o" aria-hidden="true"></i> Copy Player</span></a></li>       
        <li><a href="{% url 'characters:player_delete' player_pk=this_player.pk %}"><span class="text-danger"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete Player</span></a></li>
    {% else %}
        <li><a href="{% url 'characters:player_create' %}"><span class="text-success"><i class="fa fa-fw fa-plus" aria-hidden="true"></i> Create Player</span></a></li>
    {% endif %}
{% endblock %}

{% block character_stats %}
    {% if this_player %}
        <div class="row">
            <div class="col-md-12">
                <p>{% if this_player.level %}Level {{ this_player.level }}{% endif %}{% if this_player.race %} {{ this_player.race }}{% endif %}{% if this_player.character_class %} {{ this_player.character_class }}{% endif %}{% if this_player.get_alignment_display %}, {{ this_player.get_alignment_display }}{% endif %}</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                {% if this_player.xp %}<p><strong>XP</strong> {{ this_player.xp }}</p>{% endif %}
                {% if this_player.proficiency_bonus %}<p><strong>Proficiency Bonus</strong> {{ this_player.proficiency_bonus }}</p>{% endif %}
                {% if this_player.armor_class %}<p><strong>Armor Class</strong> {{ this_player.armor_class }}</p>{% endif %}
                {% if this_player.initiative %}<p><strong>Initiative</strong> {{ this_player.initiative }}</p>{% endif %}
                {% if this_player.speed %}<p><strong>Speed</strong> {{ this_player.speed }}</p>{% endif %}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-2">
                <div class="character-label">
                    <p>STR</p>
                </div>
                <div class="character-details">
                    <p>{{ this_player.strength }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="character-label">
                    <p>DEX</p>
                </div>
                <div class="character-details">
                    <p>{{ this_player.dexterity }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="character-label">
                    <p>CON</p>
                </div>
                <div class="character-details">
                    <p>{{ this_player.constitution }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="character-label">
                    <p>WIS</p>
                </div>
                <div class="character-details">
                    <p>{{ this_player.wisdom }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="character-label">
                    <p>INT</p>
                </div>
                <div class="character-details">
                    <p>{{ this_player.intelligence }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="character-label">
                    <p>CHA</p>
                </div>
                <div class="character-details">
                    <p>{{ this_player.charisma }}</p>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                {% if this_player.age %}<p><strong>Age</strong> {{ this_player.age }}</p>{% endif %}
                {% if this_player.height %}<p><strong>Height</strong> {{ this_player.height }}</p>{% endif %}
                {% if this_player.weight %}<p><strong>Weight</strong> {{ this_player.weight }}</p>{% endif %}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                {% if this_player.saving_throws %}<p><strong>Saving Throws</strong> {{ this_player.saving_throws }}</p>{% endif %}
                {% if this_player.skills %}<p><strong>Skills</strong> {{ this_player.skills }}</p>{% endif %}
                {% if this_player.senses %}<p><strong>Senses</strong> {{ this_player.senses }}</p>{% endif %}
                {% if this_player.languages %}<p><strong>Languages</strong> {{ this_player.languages }}</p>{% endif %}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                {% if this_player.personality %}<p><strong>Personality Traits</strong> {{ this_player.personality|safe }}</p>{% endif %}
                {% if this_player.ideals %}<p><strong>Ideals</strong> {{ this_player.ideals|safe }}</p>{% endif %}
                {% if this_player.bonds %}<p><strong>Bonds</strong> {{ this_player.bonds|safe }}</p>{% endif %}
                {% if this_player.flaws %}<p><strong>Flaws</strong> {{ this_player.flaws|safe }}</p>{% endif %}
            </div>
        </div>
    {% else %}
        <p>You haven't created any Players yet!</p>
    {% endif %}
{% endblock %}

{% block character_detail %}
    {% if this_player %}

        {% if this_player.attacks %}
            <div class="row">
                <div class="col-md-12">
                    <p><strong>Attacks and Spellcasting</strong> {{ this_player.attacks|safe }}</p>
                </div>
            </div>
        {% endif %}

        {% if this_player.equipment %}
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <p><strong>Equipment</strong> {{ this_player.equipment|safe }}</p>
                </div>
            </div>
        {% endif %}

        {% if this_player.feats %}
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <p><strong>Features and Traits</strong> {{ this_player.feats|safe }}</p>
                </div>
            </div>
        {% endif %}

        {% if this_player.proficiencies %}
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <p><strong>Proficiencies</strong> {{ this_player.proficiencies|safe }}</p>
                </div>
            </div>
        {% endif %}

        {% if this_player.spells %}
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <p><strong>Spells</strong> {{ this_player.spells|safe }}</p>
                </div>
            </div>
        {% endif %}

        {% if this_player.notes %}
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <p><strong>Notes</strong> {{ this_player.notes|safe }}</p>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}