{% extends 'layout.html' %}

{% load widget_tweaks %}


{% block title %}
    {% if player.pk %}
        Update player 
    {% else %}
        New player 
    {% endif %}
    | {{ block.super }}
{% endblock %}

{% block head_extra %}
    {{ form.media.css }}
    {{ form.media.js }}

    <script type="text/javascript">
        var taggable = [];
        var monsters_dict = {{monsters|safe}};
        for (var key in monsters_dict) {
            taggable.push({
                    'name': monsters_dict[key],
                    'id': key,
                    'type': 'monster'
                });
        }
        var npcs_dict = {{npcs|safe}};
        for (var key in npcs_dict) {
            taggable.push({
                    'name': npcs_dict[key],
                    'id': key,
                    'type': 'npc'
                });
        }
        var items_dict = {{items|safe}};
        for (var key in items_dict) {
            taggable.push({
                    'name': items_dict[key],
                    'id': key,
                    'type': 'item'
                });
        }
        var players_dict = {{players|safe}};
        for (var key in players_dict) {
            taggable.push({
                    'name': players_dict[key],
                    'id': key,
                    'type': 'player'
                });
        }
        var worlds_dict = {{worlds|safe}};
        for (var key in worlds_dict) {
            taggable.push({
                    'name': worlds_dict[key],
                    'id': key,
                    'type': 'world'
                });
        }
        var locations_dict = {{locations|safe}};
        for (var key in locations_dict) {
            taggable.push({
                    'name': locations_dict[key],
                    'id': key,
                    'type': 'location'
                });
        }
        tinymce.init({
            selector: "textarea",
            height : "100",
            plugins: [
            'paste autosave autolink print searchreplace table textcolor wordcount link image mention'
            ],
            menu: {
            edit: {title: 'Edit', items: 'undo redo | cut copy paste pastetext | selectall | searchreplace'},
            insert: {title: 'Insert', items: 'image'},
            view: {title: 'View', items: 'visualaid'},
            format: {title: 'Format', items: 'bold italic underline strikethrough superscript subscript | formats | removeformat'},
            table: {title: 'Table', items: 'inserttable tableprops deletetable | cell row column'}
            },
            toolbar: 'print | fontsizeselect bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link | forecolor backcolor',
            browser_spellcheck: true,
            paste_as_text: true,
            fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
            relative_urls : false,
            remove_script_host : false,
            convert_urls : true,
            mentions: {
                source: taggable,
                delay: 0,
                insert: function(item) {
                    if (item.type == 'item') {
                        var url = "{% url 'items:item_detail' item_pk=999999999999 %}".replace(999999999999, item.id);
                    } else if (item.type == 'world') {
                        var url = "{% url 'locations:location_detail' world_pk=999999999999 %}".replace(999999999999, item.id);
                    } else if (item.type == 'location') {
                        var url = "{% url 'locations:location_detail' location_pk=999999999999 %}".replace(999999999999, item.id);
                    } else {
                        var url = "{% url 'characters:monster_detail' monster_pk=999999999999 %}".replace(999999999999, item.id).replace(/monster/g, item.type);
                    }
                    return "<a href=" + url + ">" + item.name + "</a>";
                }
            }
        });
    </script>
{% endblock %}

{% block body_content %}
    <div class="row mt-3 pb-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="px-1 mb-0">
                        {% if player.pk %}
                            <span class="font-weight-bold">Update player:</span> {{ player.player_name }}
                        {% else %}
                            <span class="font-weight-bold">New player</span>
                        {% endif %}
                    </h5>
                </div>
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="{{ form.player_name.id_for_label }}">Player name</label>
                                {% render_field form.player_name class+="form-control" %}
                                {% if form.player_name.errors %}
                                    {% for error in form.player_name.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="{{ form.character_name.id_for_label }}">Character name</label>
                                {% render_field form.character_name class+="form-control" %}
                                {% if form.character_name.errors %}
                                    {% for error in form.character_name.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="{{ form.level.id_for_label }}">Level</label>
                                {% render_field form.level class+="form-control" %}
                                {% if form.level.errors %}
                                    {% for error in form.level.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-3">
                                <label for="{{ form.xp.id_for_label }}">XP</label>
                                {% render_field form.xp class+="form-control" %}
                                {% if form.xp.errors %}
                                    {% for error in form.xp.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-3">
                                <label for="{{ form.armor_class.id_for_label }}">Armor Class</label>
                                {% render_field form.armor_class class+="form-control" %}
                                {% if form.armor_class.errors %}
                                    {% for error in form.armor_class.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-3">
                                <label for="{{ form.hit_points.id_for_label }}">Hit Points</label>
                                {% render_field form.hit_points class+="form-control" %}
                                {% if form.hit_points.errors %}
                                    {% for error in form.hit_points.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="{{ form.character_class.id_for_label }}">Character class</label>
                                {% render_field form.character_class class+="form-control" %}
                                {% if form.character_class.errors %}
                                    {% for error in form.character_class.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="{{ form.alignment.id_for_label }}">Alignment</label>
                                {% render_field form.alignment class+="form-control" %}
                                {% if form.alignment.errors %}
                                    {% for error in form.alignment.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="{{ form.strength.id_for_label }}">Strength</label>
                                {% render_field form.strength class+="form-control" %}
                                {% if form.strength.errors %}
                                    {% for error in form.strength.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-2">
                                <label for="{{ form.dexterity.id_for_label }}">Dexterity</label>
                                {% render_field form.dexterity class+="form-control" %}
                                {% if form.dexterity.errors %}
                                    {% for error in form.dexterity.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-2">
                                <label for="{{ form.constitution.id_for_label }}">Constitution</label>
                                {% render_field form.constitution class+="form-control" %}
                                {% if form.constitution.errors %}
                                    {% for error in form.constitution.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-2">
                                <label for="{{ form.intelligence.id_for_label }}">Intelligence</label>
                                {% render_field form.intelligence class+="form-control" %}
                                {% if form.intelligence.errors %}
                                    {% for error in form.intelligence.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-2">
                                <label for="{{ form.wisdom.id_for_label }}">Wisdom</label>
                                {% render_field form.wisdom class+="form-control" %}
                                {% if form.wisdom.errors %}
                                    {% for error in form.wisdom.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-2">
                                <label for="{{ form.charisma.id_for_label }}">Charisma</label>
                                {% render_field form.charisma class+="form-control" %}
                                {% if form.charisma.errors %}
                                    {% for error in form.charisma.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="{{ form.initiative.id_for_label }}">Initiative</label>
                                {% render_field form.initiative class+="form-control" %}
                                {% if form.initiative.errors %}
                                    {% for error in form.initiative.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-4">
                                <label for="{{ form.speed.id_for_label }}">Speed</label>
                                {% render_field form.speed class+="form-control" %}
                                {% if form.speed.errors %}
                                    {% for error in form.speed.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-4">
                                <label for="{{ form.proficiency_bonus.id_for_label }}">Proficiency bonus</label>
                                {% render_field form.proficiency_bonus class+="form-control" %}
                                {% if form.proficiency_bonus.errors %}
                                    {% for error in form.proficiency_bonus.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="{{ form.saving_throws.id_for_label }}">Saving throws</label>
                                {% render_field form.saving_throws class+="form-control" %}
                                {% if form.saving_throws.errors %}
                                    {% for error in form.saving_throws.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-3">
                                <label for="{{ form.skills.id_for_label }}">Skills</label>
                                {% render_field form.skills class+="form-control" %}
                                {% if form.skills.errors %}
                                    {% for error in form.skills.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-3">
                                <label for="{{ form.race.id_for_label }}">Race</label>
                                {% render_field form.race class+="form-control" %}
                                {% if form.race.errors %}
                                    {% for error in form.race.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-3">
                                <label for="{{ form.background.id_for_label }}">Background</label>
                                {% render_field form.background class+="form-control" %}
                                {% if form.background.errors %}
                                    {% for error in form.background.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="{{ form.age.id_for_label }}">Age</label>
                                {% render_field form.age class+="form-control" %}
                                {% if form.age.errors %}
                                    {% for error in form.age.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-3">
                                <label for="{{ form.height.id_for_label }}">Height</label>
                                {% render_field form.height class+="form-control" %}
                                {% if form.height.errors %}
                                    {% for error in form.height.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-3">
                                <label for="{{ form.weight.id_for_label }}">Weight</label>
                                {% render_field form.weight class+="form-control" %}
                                {% if form.weight.errors %}
                                    {% for error in form.weight.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-3">
                                <label for="{{ form.languages.id_for_label }}">Languages</label>
                                {% render_field form.languages class+="form-control" %}
                                {% if form.languages.errors %}
                                    {% for error in form.languages.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="{{ form.personality.id_for_label }}">Personality</label>
                            {% render_field form.personality class+="form-control" %}
                            {% if form.personality.errors %}
                                {% for error in form.personality.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.ideals.id_for_label }}">Ideals</label>
                            {% render_field form.ideals class+="form-control" %}
                            {% if form.ideals.errors %}
                                {% for error in form.ideals.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.bonds.id_for_label }}">Bonds</label>
                            {% render_field form.bonds class+="form-control" %}
                            {% if form.bonds.errors %}
                                {% for error in form.bonds.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.flaws.id_for_label }}">Flaws</label>
                            {% render_field form.flaws class+="form-control" %}
                            {% if form.flaws.errors %}
                                {% for error in form.flaws.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.feats.id_for_label }}">Feats</label>
                            {% render_field form.feats class+="form-control" %}
                            {% if form.feats.errors %}
                                {% for error in form.feats.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.attacks.id_for_label }}">Attacks</label>
                            {% render_field form.attacks class+="form-control" %}
                            {% if form.attacks.errors %}
                                {% for error in form.attacks.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.spells.id_for_label }}">Spells</label>
                            {% render_field form.spells class+="form-control" %}
                            {% if form.spells.errors %}
                                {% for error in form.spells.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.proficiencies.id_for_label }}">Proficiencies</label>
                            {% render_field form.proficiencies class+="form-control" %}
                            {% if form.proficiencies.errors %}
                                {% for error in form.proficiencies.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.equipment.id_for_label }}">Equipment</label>
                            {% render_field form.equipment class+="form-control" %}
                            {% if form.equipment.errors %}
                                {% for error in form.equipment.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.notes.id_for_label }}">Notes</label>
                            {% render_field form.notes class+="form-control" %}
                            {% if form.notes.errors %}
                                {% for error in form.notes.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-between">
                        {% if player.pk %}
                            <div class="col-auto">
                                <a href="{% url 'characters:player_detail' player_pk=player.pk%}" class="btn btn-secondary">Cancel</a>
                            </div>
                            <div class="col-auto">
                                <input type="submit" class="btn btn-primary" value="Update player">
                            </div>
                        {% else %}
                            <div class="col-auto">
                                <a href="{% url 'characters:player_detail' %}" class="btn btn-secondary">Cancel</a>
                            </div>
                            <div class="col-auto">
                                <input type="submit" class="btn btn-primary" value="Create player">
                            </div>
                        {% endif %}
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}