<div class="row">
    <div class="col-md-12">
        <p>{% if player.level %}Level {{ player.level }}{% endif %}{% if player.race %} {{ player.race }}{% endif %}{% if player.character_class %} {{ player.character_class }}{% endif %}{% if player.get_alignment_display %}, {{ player.get_alignment_display }}{% endif %}</p>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-12">
        {% if player.xp %}<p><span class="font-weight-bold">XP</span> {{ player.xp }}</p>{% endif %}
        {% if player.proficiency_bonus %}<p><span class="font-weight-bold">Proficiency Bonus</span> {{ player.proficiency_bonus }}</p>{% endif %}
        {% if player.armor_class %}<p><span class="font-weight-bold">Armor Class</span> {{ player.armor_class }}</p>{% endif %}
        {% if player.hit_points %}<p><span class="font-weight-bold">Hit Points</span> {{ player.hit_points }}</p>{% endif %}
        {% if player.initiative %}<p><span class="font-weight-bold">Initiative</span> {{ player.initiative }}</p>{% endif %}
        {% if player.speed %}<p><span class="font-weight-bold">Speed</span> {{ player.speed }}</p>{% endif %}
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-2">
        <div class="character-label">
            <p>STR</p>
        </div>
        <div class="character-details">
            <p>{{ player.strength }} ({{ player.strength_mod }})</p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="character-label">
            <p>DEX</p>
        </div>
        <div class="character-details">
            <p>{{ player.dexterity }} ({{ player.dexterity_mod }})</p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="character-label">
            <p>CON</p>
        </div>
        <div class="character-details">
            <p>{{ player.constitution }} ({{ player.constitution_mod }})</p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="character-label">
            <p>INT</p>
        </div>
        <div class="character-details">
            <p>{{ player.intelligence }} ({{ player.intelligence_mod }})</p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="character-label">
            <p>WIS</p>
        </div>
        <div class="character-details">
            <p>{{ player.wisdom }} ({{ player.wisdom_mod }})</p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="character-label">
            <p>CHA</p>
        </div>
        <div class="character-details">
            <p>{{ player.charisma }} ({{ player.charisma_mod }})</p>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-12">
        {% if player.saving_throws %}<p><span class="font-weight-bold">Saving Throws</span> {{ player.saving_throws }}</p>{% endif %}
        {% if player.skills %}<p><span class="font-weight-bold">Skills</span> {{ player.skills }}</p>{% endif %}
        {% if player.senses %}<p><span class="font-weight-bold">Senses</span> {{ player.senses }}</p>{% endif %}
        {% if player.languages %}<p><span class="font-weight-bold">Languages</span> {{ player.languages }}</p>{% endif %}
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-12">
        {% if player.age %}<p><span class="font-weight-bold">Age</span> {{ player.age }}</p>{% endif %}
        {% if player.height %}<p><span class="font-weight-bold">Height</span> {{ player.height }}</p>{% endif %}
        {% if player.weight %}<p><span class="font-weight-bold">Weight</span> {{ player.weight }}</p>{% endif %}
        {% if player.personality %}<p><span class="font-weight-bold">Personality Traits</span> {{ player.personality|safe }}</p>{% endif %}
        {% if player.ideals %}<p><span class="font-weight-bold">Ideals</span> {{ player.ideals|safe }}</p>{% endif %}
        {% if player.bonds %}<p><span class="font-weight-bold">Bonds</span> {{ player.bonds|safe }}</p>{% endif %}
        {% if player.flaws %}<p><span class="font-weight-bold">Flaws</span> {{ player.flaws|safe }}</p>{% endif %}
    </div>
</div>

{% if player.attacks %}
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h3>Attacks and Spellcasting</h3><p>{{ player.attacks|safe }}</p>
        </div>
    </div>
{% endif %}

{% if player.equipment %}
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h3>Equipment</h3><p>{{ player.equipment|safe }}</p>
        </div>
    </div>
{% endif %}

{% if player.feats %}
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h3>Features and Traits</h3><p>{{ player.feats|safe }}</p>
        </div>
    </div>
{% endif %}

{% if player.proficiencies %}
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h3>Proficiencies</h3><p>{{ player.proficiencies|safe }}</p>
        </div>
    </div>
{% endif %}

{% if player.spells %}
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h3>Spells</h3><p>{{ player.spells|safe }}</p>
        </div>
    </div>
{% endif %}

{% if player.notes %}
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h3>Notes</h3><p>{{ player.notes|safe }}</p>
        </div>
    </div>
{% endif %}
