{% extends 'characters/character_layout.html' %}

{% block title %}
    {% if player.pk %}
        {{ player.character_name }} 
    {% else %}
        Players 
    {% endif %}
    | {{ block.super }}
{% endblock %}

{% block character_list_title %}Player list{% endblock %}

{% block character_list %}
    {% if players %}
        {% for p in players %}
            <li>
                <a {% if p == player %}class="font-weight-bold" {% endif %}href="{% url 'characters:player_detail' player_pk=p.pk %}">
                    {{ p.character_name }} ({{ p.player_name }})
                </a>
            </li>
        {% endfor %}
    {% else %}
        <li>You haven't created any players yet!</li>
    {% endif %}
{% endblock %}

{% block character_contents_extra %}
    <a href="{% url 'characters:player_create' %}" class="dropdown-item text-success"><i class="fal fa-fw fa-plus" aria-hidden="true"></i> Create player</a>
{% endblock %}

{% block character_detail_title %}
    {% if player %}
        {{ player.character_name }} ({{ player.player_name }})
    {% else %}
        Players
    {% endif %}
{% endblock %}

{% block character_detail_extra %}
    {% if player %}
        <a href="{% url 'characters:player_update' player_pk=player.pk %}" class="dropdown-item"><i class="fal fa-fw fa-edit" aria-hidden="true"></i> Edit player</a>
        <a href="{% url 'characters:player_campaigns' player_pk=player.pk %}" class="dropdown-item"><i class="fal fa-fw fa-eye" aria-hidden="true"></i> View campaigns</a>
        <a href="{% url 'characters:player_copy' player_pk=player.pk %}" class="dropdown-item"><i class="fal fa-fw fa-copy" aria-hidden="true"></i> Copy player</a>       
        <a id="player-delete" href="{% url 'characters:player_delete' player_pk=player.pk %}" class="dropdown-item text-danger"><i class="fal fa-fw fa-trash-alt" aria-hidden="true"></i> Delete player</a>
    {% else %}
        <a href="{% url 'characters:player_create' %}" class="dropdown-item text-success"><i class="fal fa-fw fa-plus" aria-hidden="true"></i> Create player</a>
    {% endif %}
{% endblock %}

{% block character_detail %}
    {% include "characters/player_template.html" with player=player %}
{% endblock %}