body {
    /*min-height: 2000px;*/
    padding-top: 50px;
    background: url("../img/banner.png") no-repeat center center fixed !important; 
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    /*margin-bottom: 150px !important;*/
}