{% extends "admin/base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block extrastyle %}
<style>
#header {
    background-color: #000;
}
#branding {
    text-align: center;
    float: none;
}
input[type=submit] {
    background: #000;
}
</style>
{% endblock %}

{% block title %}{{ title }} | {% trans 'Dungeonomics admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name" class="text-center" style="background: #000;"><img src="{% static 'img/logo_cut.png' %}" alt="Dungeonomics"></h1>
{% endblock %}

{% block nav-global %}{% endblock %}