{% extends "_cols.html" %}


{% block col1_order %}order-1{% endblock col1_order %}

{% block col1_title %}Campaigns{% endblock col1_title %}

{% block col1_tools %}
    {% include "campaign/snippets/col1_tools_ca.html" %}
{% endblock col1_tools %}

{% block col1_contents %}
    {% include "campaign/snippets/col1_contents_ca.html" with campaigns=campaigns campaign=campaign %}
{% endblock col1_contents %}


{% block col2_order %}order-2{% endblock col2_order %}

{% block col2_title %}Contents{% endblock col2_title %}

{% block col2_tools %}
    {% include "campaign/snippets/col2_tools_ca.html" with campaign=campaign %}
{% endblock col2_tools %}

{% block col2_contents %}
    {% include "campaign/snippets/col2_contents_ch_se.html" with campaign=campaign chapters=chapters sections=sections %}
    {% include "campaign/snippets/col2_contents_party.html" with campaign=campaign %}
    {% include "posts/party_feed.html" with posts=posts %}
{% endblock col2_contents %}


{% block col3_order %}order-lg-3 order-4{% endblock col3_order %}

{% block col3_title %}{{ chapter.title }}{% endblock col3_title %}

{% block col3_tools %}
    {% include "campaign/snippets/col3_tools_ch_se.html" with campaign=campaign chapter=chapter %}
{% endblock col3_tools %}

{% block col3_contents %}{{ chapter.content|safe }}{% endblock col3_contents %}


{% block col4_order %}order-lg-4 order-3{% endblock col4_order %}

{% block col4_title %}Tags{% endblock col4_title %}

{% block col4_tools %}
    {% include "campaign/snippets/col4_tools_tags.html" %}
{% endblock col4_tools %}

{% block col4_contents %}
{% endblock col4_contents %}
