{% extends 'layout.html' %}

{% load static from staticfiles %}
{% load campaign_extras %}


{% block title %}{{ campaign.title }} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {% include "campaign/breadcrumbs.html" with action="Join" %}
{% endblock %}

{% block body_content %}
    <div class="row mt-3 pb-5 justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="px-1 mb-0">Join campaign</h5>
                </div>
                <div class="card-body">
                    <p>You've been invited to join the <span class="font-weight-bold">{{ campaign.title }}</span> campaign. Choose a character to use, and click "join" to join the campaign.</p>
                    <p class="small">Note: joining this campaign with your character does not limit your character to this campaign. It can still be used in other campaigns.</p>

                    {% if characters %}
                        <form class="pt-3" method="post" action="">
                            {% csrf_token %}
                            {% for character in characters %}
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="character" id="character-{{ character.pk }}" value="{{ character.pk }}">
                                    <label class="form-check-label" for="character-{{ character.pk }}">
                                        {{ character.name }}
                                    </label>
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-block btn-success mt-3">Join</button>
                        </form>
                    {% else %}
                        <p>You haven't created any characters. <a href="{% url 'characters:character_create' %}" target="_blank">Create a character</a> and then refresh this page.</p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
