{% extends 'campaign/layout.html' %}

{% load widget_tweaks %}

{% block title %}Import campaign | {{ block.super }}{% endblock %}

{% block campaign_content %}
  <p class="mb-3 fw-bold">Import campaign</p>
  <p>Paste the ID you got from an <span class="fw-bold">exported campaign</span>, and then click "Import" to create a copy of that campaign in your account.</p>
  <form method="POST" action="">
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
    {% endif %}
    <div class="row">
      <div class="col">
        <input
            id="id_public_url"
            name="public_url"
            type="text"
            class="form-control form-control-sm form-control-dark"
            placeholder="Campaign ID"
            value="" />
      </div>
      <div class="col-sm-auto mt-1 mt-sm-0">
        <div class="d-grid gap-2">
          <input type="submit" class="btn btn-sm btn-primary" value="Import" />
        </div>
      </div>
    </div>
  </form>
{% endblock %}
