{% load static from staticfiles %}
{% load locations_extras %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
		<meta name="viewport" content="width=device-width">
		<title>{{ campaign.title }} | Dungeonomics</title>
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'js/manifest.json' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static 'img/ms-icon-144x144.png' %}">
        <meta name="theme-color" content="#ffffff">
	</head>

    <body>
        <h1>{{ campaign.title }}</h1>

        <hr>

        {% for chapter in chapters %}
            <h2>Chapter {{ chapter.order }}: {{ chapter.title }}</h3>
            {{ chapter.content|safe }}
            {% for section in sections %}
                {% if section.chapter == chapter %}
                    <br />
                    <br />
                    <h3>Section {{ section.order }}: {{ section.title }}</h3>
                    {{ section.content|safe }}
                {% endif %}
            {% endfor %}
            <hr>
        {% endfor %}

        {% if monsters %}
            <h1>Monsters</h1>

            {% for monster in monsters %}
                <h2>{{ monster.name }}</h2>
                <p>{% if monster.level %}Level {{ monster.level }} {% endif %}{% if monster.size %}{{ monster.size }} {% endif %}{% if monster.creature_type %}{{ monster.creature_type }} {% endif %}{% if monster.get_alignment_display %}({{ monster.get_alignment_display }}){% endif %}</p>   
                <br />
                {% if monster.languages %}<p>Languages: {{ monster.languages }}</p>{% endif %}
                {% if monster.senses %}<p>Senses: {{ monster.senses }}</p>{% endif %}
                {% if monster.challenge_rating %}<p>Challenge rating: {{ monster.challenge_rating }}</p>{% endif %}
                <br />
                {% if monster.strength %}<p>STR: {{ monster.strength }}</p>{% endif %}
                {% if monster.dexterity %}<p>DEX: {{ monster.dexterity }}</p>{% endif %}
                {% if monster.constitution %}<p>CON: {{ monster.constitution }}</p>{% endif %}
                {% if monster.intelligence %}<p>INT: {{ monster.intelligence }}</p>{% endif %}
                {% if monster.wisdom %}<p>WIS: {{ monster.wisdom }}</p>{% endif %}
                {% if monster.charisma %}<p>CHA: {{ monster.charisma }}</p>{% endif %}
                <br />
                {% if monster.armor_class %}<p>Armor class: {{ monster.armor_class }}</p>{% endif %}
                {% if monster.hit_points %}<p>Hit points: {{ monster.hit_points }}</p>{% endif %}
                {% if monster.speed %}<p>Speed: {{ monster.speed }}</p>{% endif %}
                {% if monster.saving_throws %}<p>Saving throws: {{ monster.saving_throws }}</p>{% endif %}
                {% if monster.skills %}<p>Skills: {{ monster.skills }}</p>{% endif %}
                <br />
                {% if monster.damage_vulnerabilities %}<p>Damage vulnerabilities: {{ monster.damage_vulnerabilities }}</p>{% endif %}
                {% if monster.damage_immunities %}<p>Damage immunities: {{ monster.damage_immunities }}</p>{% endif %}
                {% if monster.damage_resistances %}<p>Damage resistances: {{ monster.damage_resistances }}</p>{% endif %}
                {% if monster.condition_immunities %}<p>Condition immunities: {{ monster.condition_immunities }}</p>{% endif %}
                <br />
                {% if monster.traits %}<p>Traits {{ monster.traits|safe }}</p>{% endif %}
                {% if monster.actions %}<p>Actions {{ monster.actions|safe }}</p>{% endif %}
            {% endfor %}
        {% endif %}

        {% if npcs %}
            <h1 style="margin-top: 60px;">NPCs</h1>

            {% for npc in npcs %}
                <h2>{{ npc.name }}</h2>
                <p>{% if npc.level %}Level {{ npc.level }} {% endif %}{% if npc.npc_class %}{{ npc.npc_class }} {% endif %}{% if npc.get_alignment_display %}({{ npc.get_alignment_display }}){% endif %}</p>
                {% if npc.size %}<p>Size: {{ npc.size }}</p>{% endif %}
                {% if npc.creature_type %}<p>{{ npc.creature_type }}</p>{% endif %}
                <br />
                {% if npc.age %}<p>Age: {{ npc.age }}</p>{% endif %}
                {% if npc.height %}<p>Height: {{ npc.height }}</p>{% endif %}
                {% if npc.weight %}<p>Weight: {{ npc.weight }}</p>{% endif %}
                {% if npc.languages %}<p>Languages: {{ npc.languages }}</p>{% endif %}
                {% if npc.senses %}<p>Senses: {{ npc.senses }}</p>{% endif %}
                {% if npc.challenge_rating %}<p>Challenge rating: {{ npc.challenge_rating }}</p>{% endif %}
                <br />
                {% if npc.strength %}<p>STR: {{ npc.strength }}</p>{% endif %}
                {% if npc.dexterity %}<p>DEX: {{ npc.dexterity }}</p>{% endif %}
                {% if npc.constitution %}<p>CON: {{ npc.constitution }}</p>{% endif %}
                {% if npc.intelligence %}<p>INT: {{ npc.intelligence }}</p>{% endif %}
                {% if npc.wisdom %}<p>WIS: {{ npc.wisdom }}</p>{% endif %}
                {% if npc.charisma %}<p>CHA: {{ npc.charisma }}</p>{% endif %}
                <br />
                {% if npc.armor_class %}<p>Armor class: {{ npc.armor_class }}</p>{% endif %}
                {% if npc.hit_points %}<p>Hit points: {{ npc.hit_points }}</p>{% endif %}
                {% if npc.speed %}<p>Speed: {{ npc.speed }}</p>{% endif %}
                {% if npc.saving_throws %}<p>Saving throws: {{ npc.saving_throws }}</p>{% endif %}
                {% if npc.skills %}<p>Skills: {{ npc.skills }}</p>{% endif %}
                <br />
                {% if npc.damage_vulnerabilities %}<p>Damage vulnerabilities: {{ npc.damage_vulnerabilities }}</p>{% endif %}
                {% if npc.damage_immunities %}<p>Damage immunities: {{ npc.damage_immunities }}</p>{% endif %}
                {% if npc.damage_resistances %}<p>Damage resistances: {{ npc.damage_resistances }}</p>{% endif %}
                {% if npc.condition_immunities %}<p>Condition immunities: {{ npc.condition_immunities }}</p>{% endif %}
                <br />
                {% if npc.traits %}<p>Traits {{ npc.traits|safe }}</p>{% endif %}
                {% if npc.actions %}<p>Actions {{ npc.actions|safe }}</p>{% endif %}
                {% if npc.notes %}<p>Notes {{ npc.notes|safe }}</p>{% endif %}
            {% endfor %}
        {% endif %}

        {% if items %}
            <h1 style="margin-top: 60px;">Items</h1>

            {% for item in items %}
                <h2>{{ item.name }}</h2>
                <p><em>{% if item.item_type %}{{ item.item_type }}{% endif %}{% if item.rarity and item.item_type %}, {{ item.rarity }}{% elif item.rarity %}{{ item.rarity }}{% else %}{% endif %}</em></p>
                <p>{{ item.description|safe }}</p>
            {% endfor %}
        {% endif %}
		
		{% if spells %}
            <h1 style="margin-top: 60px;">Spells</h1>

            {% for spell in spells %}
                <h2>{{ spell.name }}</h2>
                <p><em>{% if spell.spell_type %}{{ spell.spell_type }}{% endif %}{% if spell.rarity and spell.spell_type %}, {{ spell.rarity }}{% elif spell.rarity %}{{ spell.rarity }}{% else %}{% endif %}</em></p>
                <p>{{ spell.description|safe }}</p>
            {% endfor %}
        {% endif %}

        {% if worlds %}
            <h1 style="margin-top: 60px;">Locations</h1>
            {% for world in worlds %}
                <h2>{{ world.name }}</h2>
                <p>{{ world.content|safe }}</p>
               {% get_world_locations world.pk as world_locations %}
               {% if world_locations %}
                   {% for world_location in world_locations %}
                       {% include "campaign/campaign_tree_view_template.html" %}
                   {% endfor %}
               {% endif %}
               {% if not forloop.last %}
                   <hr>
               {% endif %}
           {% endfor %}
        {% endif %}
    </body>
</html>
