




{% extends 'layout.html' %}
{% load bootstrap3 %}

{% block title %}Donate | {{ block.super }}{% endblock %}

{% block static %}<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.16/clipboard.min.js"></script>{% endblock %}

{% block body_content %}
    <div class="alert alert-info alert-dismissible" role="alert" style="margin-top: 30px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Copy the following code and then share it with friends! They will need to <a href="{% url 'campaign:campaign_import' %}" class="alert-link">import</a> it in order to view it.
    </div>
    <div class="row campaign-row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Export Campaign (<strong>with</strong> monsters and NPCs)</h3>
                </div>
                <div class="panel-body">
                    <div class="pre-scrollable" style="max-height: 400px;">
                    {% autoescape on %}
<pre id="code-long">
{
    "chapters": { {% for chapter in chapters %}
        "{{ chapter.order }}": {
            "title": "{{ chapter.title }}",
            "content": {{ chapter.content }}, {% if sections %}
            "sections": { {% for section in sections %}{% if section.chapter == chapter %}
                "{{ section.order }}": {
                    "title": "{{ section.title }}",
                    "content": {{ section.content }}
                }{% endif %}{% if not forloop.last %},{% endif %}{% endfor %}
            }{% endif %}
        }{% if not forloop.last %},{% endif %}{% endfor %}
    {% if monsters %}},{% else %}}{% endif %}
    {% if monsters %}"monsters": { {% for monster in monsters %}
        "{{ monster.name }}": {
            "alignment": "{{ monster.alignment }}",
            "size": "{{ monster.size }}",
            "languages": "{{ monster.languages }}",
            "strength": "{{ monster.strength }}",
            "dexterity": "{{ monster.dexterity }}",
            "constitution": "{{ monster.constitution }}",
            "intelligence": "{{ monster.intelligence }}",
            "wisdom": "{{ monster.wisdom }}",
            "charisma": "{{ monster.charisma }}",
            "armor_class": "{{ monster.armor_class }}",
            "hit_points": "{{ monster.hit_points }}",
            "speed": "{{ monster.speed }}",
            "saving_throws": "{{ monster.saving_throws }}",
            "skills": "{{ monster.skills }}",
            "creature_type": "{{ monster.creature_type }}",
            "damage_vulnerabilities": "{{ monster.damage_vulnerabilities }}",
            "damage_immunities": "{{ monster.damage_immunities }}",
            "damage_resistances": "{{ monster.damage_resistances }}",
            "condition_immunities": "{{ monster.condition_immunities }}",
            "senses": "{{ monster.senses }}",
            "challenge_rating": "{{ monster.challenge_rating }}",
            "traits": {{ monster.traits }},
            "actions": {{ monster.actions }}
        }{% if not forloop.last %},{% endif %}{% endfor %}{% endif %}
    {% if npcs %}},{% else %}}{% endif %}
    {% if npcs %}"npcs": { {% for npc in npcs %}
        "{{ npc.name }}": {
            "npc_class": "{{ npc.npc_class }}",
            "age": "{{ npc.age }}",
            "height": "{{ npc.height }}",
            "weight": "{{ npc.weight }}",
            "alignment": "{{ npc.alignment }}",
            "size": "{{ npc.size }}",
            "languages": "{{ npc.languages }}",
            "strength": "{{ npc.strength }}",
            "dexterity": "{{ npc.dexterity }}",
            "constitution": "{{ npc.constitution }}",
            "intelligence": "{{ npc.intelligence }}",
            "wisdom": "{{ npc.wisdom }}",
            "charisma": "{{ npc.charisma }}",
            "armor_class": "{{ npc.armor_class }}",
            "hit_points": "{{ npc.hit_points }}",
            "speed": "{{ npc.speed }}",
            "saving_throws": "{{ npc.saving_throws }}",
            "skills": "{{ npc.skills }}",
            "creature_type": "{{ npc.creature_type }}",
            "damage_vulnerabilities": "{{ npc.damage_vulnerabilities }}",
            "damage_immunities": "{{ npc.damage_immunities }}",
            "damage_resistances": "{{ npc.damage_resistances }}",
            "condition_immunities": "{{ npc.condition_immunities }}",
            "senses": "{{ npc.senses }}",
            "challenge_rating": "{{ npc.challenge_rating }}",
            "traits": {{ npc.traits }},
            "actions": {{ npc.actions }},
            "notes": {{ npc.notes }}
        }{% if not forloop.last %},{% endif %}{% endfor %}{% endif %}
    }
}
</pre>
                    {% endautoescape %}
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <button class="btn btn-primary btn-long pull-right" data-clipboard-target="#code-long">Copy to clipboard</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row campaign-row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Export Campaign (<strong>without</strong> monsters and NPCs)</h3>
                </div>
                <div class="panel-body">
                    <div class="pre-scrollable" style="max-height: 400px;">
                    {% autoescape on %}
<pre id="code-short">
{
    "chapters": { {% for chapter in chapters %}
        "{{ chapter.order }}": {
            "title": "{{ chapter.title }}",
            "content": {{ chapter.content }}, {% if sections %}
            "sections": { {% for section in sections %}{% if section.chapter == chapter %}
                "{{ section.order }}": {
                    "title": "{{ section.title }}",
                    "content": {{ section.content }}
                }{% endif %}{% if not forloop.last %},{% endif %}{% endfor %}
            }{% endif %}
        {% if forloop.last %}}{% else %}},{% endif %}{% endfor %}
    }
}
</pre>
                    {% endautoescape %}
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <button class="btn btn-primary btn-short pull-right" data-clipboard-target="#code-short">Copy to clipboard</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block end_static %}
    <script>
        new Clipboard('.btn-long');
        new Clipboard('.btn-short');
    </script>
{% endblock %}