{% extends 'campaign/layout.html' %}

{% block title %}Export campaign | {{ block.super }}{% endblock %}

{% block static %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
{% endblock %}

{% block campaign_content %}
  <p class="mb-3 fw-bold">Export campaign: {{ campaign }}</p>
  <p>This export includes all campaign content, plus monsters, NPCs, items/spells, locations, and tables. Anything tagged/mentioned in your campaign will be included.</p>
  <p>Copy the following ID and then share it with friends! They will need to <a href="{% url 'campaign:campaign_import' %}" class="alert-link">import</a> it in order to view it.</p>
  <div class="row">
    <div class="col">
      <input
          type="text"
          id="exportCode"
          class="form-control form-control-sm form-control-dark"
          value="{{ campaign.public_url }}" />
    </div>
    <div class="col-sm-auto mt-1 mt-sm-0">
      <div class="d-grid gap-2">
        <button
            id="copyButton"
            type="button"
            class="btn btn-sm btn-primary"
            data-clipboard-target="#exportCode">
          Copy ID
        </button>
      </div>
    </div>
  </div>
{% endblock %}

{% block body_extra %}
  <script>
    new ClipboardJS("#copyButton");
  </script>
{% endblock %}
