{% extends 'layout.html' %}

{% load static from staticfiles %}
{% load campaign_extras %}


{% block title %}{{ campaign.title }} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {% include "breadcrumbs.html" %}
{% endblock %}

{% block body_content %}
    <div class="row pb-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <h4 class="px-1 mb-0">Contents</h4>
                        </div>
                        <div class="col-auto">
                            <div class="dropdown">
                                <a class="btn text-dark dropdown-toggle" href="#" role="button" id="table-of-contents-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-lg fa-cog"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="table-of-contents-dropdown">
                                    <a href="{% url 'campaign:chapter_create' campaign_pk=campaign.pk %}" class="dropdown-item text-success"><i class="mr-1 fal fa-fw fa-plus" aria-hidden="true"></i> Create chapter</a>
                                    <a href="{% url 'campaign:campaign_update' campaign_pk=campaign.pk %}" class="dropdown-item"><i class="mr-1 fal fa-fw fa-edit" aria-hidden="true"></i> Edit campaign</a>
                                    <a href="{% url 'campaign:campaign_print' campaign_pk=campaign.pk %}" class="dropdown-item"><i class="mr-1 fal fa-fw fa-print" aria-hidden="true"></i> Print campaign</a>
                                    <a href="{% url 'campaign:campaign_export' campaign_pk=campaign.pk %}" class="dropdown-item"><i class="mr-1 fal fa-fw fa-cloud-download" aria-hidden="true"></i> Export campaign</a>
                                    <a id="campaign-delete"  href="{% url 'campaign:campaign_delete' campaign_pk=campaign.pk %}" class="dropdown-item text-danger"><i class="mr-1 fal fa-fw fa-trash-alt" aria-hidden="true"></i> Delete campaign</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="contents_list">
                        {% if chapters %}
                            {% for chapter in chapters %}
                                <li class="li-content">
                                    {{ chapter.order }}. 
                                    <a href="{% url 'campaign:campaign_detail' campaign_pk=campaign.pk chapter_pk=chapter.pk %}">
                                        {{ chapter.title }}
                                    </a>
                                </li>
                                <ul style="padding-left: 30px;">
                                    {% for section in sections %}
                                        {% if section.chapter.pk == chapter.pk %}
                                            <li class="li-content">
                                                {{ section.order }}. 
                                                <a href="{% url 'campaign:campaign_detail' campaign_pk=campaign.pk chapter_pk=chapter.pk section_pk=section.pk %}">
                                                    {{ section.title }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        {% else %}
                            <li>You haven't created any content yet!</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                {% if chapter %}
                    {% if not section %}
                        {% include "campaign/card_header.html" with obj=chapter %}
                        <div class="card-body">
                            {{ chapter.content|safe }}
                        </div>
                    {% elif section %}
                        {% include "campaign/card_header.html" with obj=section %}
                        <div class="card-body">
                            {{ section.content|safe }}
                        </div>
                    {% endif %}
                {% else %}
                    {% include "campaign/card_header.html" with obj=campaign %}
                    <div class="card-body">
                        <p>You haven't created any content yet!</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body_extra %}
    <script src="{% static 'js/campaign_delete.js' %}"></script>
{% endblock %}