{% extends 'layout.html' %}

{% load widget_tweaks %}

{% block title %}Publish - {{ campaign.title }} | {{ block.super }}{% endblock %}

{% block head_extra %}
    {{ form.media.css }}
    {{ form.media.js }}

    <script type="text/javascript">
        tinymce.init({
            selector: "#id_tavern_description",
            height : "250",
            plugins: [
            'paste autosave autolink print searchreplace table textcolor wordcount link image hr'
            ],
            menu: {
            edit: {title: 'Edit', items: 'undo redo | cut copy paste pastetext | selectall | searchreplace'},
            insert: {title: 'Insert', items: 'image'},
            view: {title: 'View', items: 'visualaid'},
            format: {title: 'Format', items: 'bold italic underline strikethrough superscript subscript | formats | removeformat'},
            table: {title: 'Table', items: 'inserttable tableprops deletetable | cell row column'}
            },
            toolbar: 'print | restoredraft | fontsizeselect hr bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link | forecolor backcolor',
            browser_spellcheck: true,
            paste_as_text: true,
            fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
            relative_urls : false,
            remove_script_host : false,
            convert_urls : true,
        });
    </script>
{% endblock %}

{% block body_content %}
    <div class="row justify-content-center mt-3 pb-3">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="px-1 mb-0">Publish campaign</h5>
                </div>
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <p>Please confirm that you would like to publish the <span class="fw-bold">{{ campaign.title }}</span> campaign. If published, users will be able to import your campaign and all of its assets into their account. This won't affect your campaign at all, but they will be able to see everything you've put in the campaign. Please make sure to remove any personal information like real-life player names or specifics.</p>
                        <p>After your campaign is published to The Tavern, other users will also be able to rate and comment on the quality of the campaign.</p>
                        <p>If you'd like, provide an optional description of your campaign so others know what to expect:</p>

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}

                        <div class="form-group">
                            {% render_field form.tavern_description class+="form-control mb-3" %}
                            {% if form.tavern_description.errors %}
                                {% for error in form.tavern_description.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <a href="{% url 'campaign:campaign_detail' campaign_pk=campaign.pk %}" class="btn btn-secondary">Cancel</a>
                        </div>
                        <div class="col-auto">
                            <input type="submit" class="btn btn-primary" value="Publish">
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
