{% extends 'layout.html' %}
{% load bootstrap3 %}

{% block title %}
    {% if campaign.pk %}
        Update Campaign 
    {% else %}
        New Campaign 
    {% endif %}
    | {{ block.super }}
{% endblock %}

{% block body_content %}
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default panel-campaign">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {% if campaign.pk %}
                        <strong>UPDATE:</strong> {{ campaign }}
                    {% else %}
                        <strong>NEW CAMPAIGN</strong>
                    {% endif %}
                </h3>
            </div>
            <div class="panel-body">
                <form method="POST" action="">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <hr>
                    {% bootstrap_formset formset %}

                    {{ formset.management_form }}

                    <table role="grid" class="stack hover" style="width: 100%">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center" style="width: 10%">Order</th>
                                <th scope="col" class="text-center" style="width: 80%">Title</th>
                                <th scope="col" class="text-center" style="width: 10%">Delete?</th>
                            </tr>
                        </thead>
                        <tbody class="order">
                            {% for form in formset %}
                                <tr>
                                    <td>{{ form.order }}</td>
                                    <td>{{ form.title }}</td>
                                    {% if form.instance.pk %}
                                        <td class="text-center">{{ form.DELETE }}</td>
                                    {% else %}
                                        <td class="text-center"></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

            </div>
            <div class="panel-footer clearfix">
                {% if campaign.pk %}
                    <a href="{% url 'campaign:campaign_detail' campaign_pk=campaign.pk %}" class="btn btn-default">Cancel</a>
                    <input type="submit" class="btn btn-primary pull-right" value="Update Campaign">
                {% else %}
                    <a href="{% url 'home' %}" class="btn btn-default">Cancel</a>
                    <input type="submit" class="btn btn-primary pull-right" value="Create Campaign">
                {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}