{% load lib_extras %}


<div class="row mb-3 justify-content-between align-items-center">
  <div class="col-auto">
    {% if obj|model_name == 'chapter' %}
      <span class="fw-bold">{{ chapter.title }}</span>
    {% elif obj|model_name == 'section' %}
      <span class="fw-bold">{{ section.title }}</span>
    {% endif %}
  </div>
  <div class="col-auto">
    {% for section in content_toolbar %}
      <a
          href="{{ section.url }}"
          class="me-2"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          title="{{ section.tooltip }}">
        <i class="fas fa-fw {{ section.icon }}" aria-hidden="true"></i>
      </a>
    {% endfor %}
  </div>
</div>
