{% extends 'layout.html' %}
{% load bootstrap3 %}

{% block title %}
    {% if chapter.pk %}
        Update Chapter 
    {% else %}
        New Chapter 
    {% endif %}
    | {{ block.super }}
{% endblock %}

{% block head_extra %}
    {{ form.media.css }}
    {{ form.media.js }}
    
    <script type="text/javascript">
        var taggable = [];
        var monsters_dict = {{monsters|safe}};
        for (var key in monsters_dict) {
            taggable.push({
                    'name': monsters_dict[key],
                    'id': key,
                    'type': 'monster'
                });
        }
        var npcs_dict = {{npcs|safe}};
        for (var key in npcs_dict) {
            taggable.push({
                    'name': npcs_dict[key],
                    'id': key,
                    'type': 'npc'
                });
        }
        var items_dict = {{items|safe}};
        for (var key in items_dict) {
            taggable.push({
                    'name': items_dict[key],
                    'id': key,
                    'type': 'item'
                });
        }
		var spells_dict = {{spells|safe}};
        for (var key in spells_dict) {
            taggable.push({
                    'name': spells_dict[key],
                    'id': key,
                    'type': 'spell'
                });
        }
        var players_dict = {{players|safe}};
        for (var key in players_dict) {
            taggable.push({
                    'name': players_dict[key],
                    'id': key,
                    'type': 'player'
                });
        }
        var worlds_dict = {{worlds|safe}};
        for (var key in worlds_dict) {
            taggable.push({
                    'name': worlds_dict[key],
                    'id': key,
                    'type': 'world'
                });
        }
        var locations_dict = {{locations|safe}};
        for (var key in locations_dict) {
            taggable.push({
                    'name': locations_dict[key],
                    'id': key,
                    'type': 'location'
                });
        }
        tinymce.init({
            selector: "#id_content",
            height : "250",
            plugins: [
            'paste autosave autolink print searchreplace table textcolor wordcount link image mention'
            ],
            menu: {
            edit: {title: 'Edit', items: 'undo redo | cut copy paste pastetext | selectall | searchreplace'},
            insert: {title: 'Insert', items: 'image'},
            view: {title: 'View', items: 'visualaid'},
            format: {title: 'Format', items: 'bold italic underline strikethrough superscript subscript | formats | removeformat'},
            table: {title: 'Table', items: 'inserttable tableprops deletetable | cell row column'}
            },
            toolbar: 'print | restoredraft | fontsizeselect bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link | forecolor backcolor',
            browser_spellcheck: true,
            paste_as_text: true,
            fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
            relative_urls : false,
            remove_script_host : false,
            convert_urls : true,
            mentions: {
                source: taggable,
                delay: 0,
                insert: function(item) {
                    if (item.type == 'item') {
                        var url = "{% url 'items:item_detail' item_pk=999999999999 %}".replace(999999999999, item.id);
                    } else if (item.type == 'world') {
                        var url = "{% url 'locations:location_detail' world_pk=999999999999 %}".replace(999999999999, item.id);
					} else if (item.type == 'spell') {
                        var url = "{% url 'spells:spell_detail' spell_pk=999999999999 %}".replace(999999999999, item.id);
                    } else if (item.type == 'location') {
                        var url = "{% url 'locations:location_detail' location_pk=999999999999 %}".replace(999999999999, item.id);
                    } else {
                        var url = "{% url 'characters:monster_detail' monster_pk=999999999999 %}".replace(999999999999, item.id).replace(/monster/g, item.type);
                    }
                    return "<a href=" + url + ">" + item.name + "</a>";
                }
            }
        });
    </script>
{% endblock %}

{% block body_content %}
    <div class="alert alert-info alert-dismissible" role="alert" style="margin-top: 30px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Type '@' to get a dropdown list that will automatically link to the monsters, NPCs, items, spells, or Players in your campaign content!
    </div>
    <div class="row campaign-row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {% if chapter.pk %}
                            <strong>UPDATE:</strong> {{ campaign }} / {{ chapter }}
                        {% else %}
                            <strong>NEW CHAPTER:</strong> {{ campaign }}
                        {% endif %}
                    </h3>
                </div>
                <div class="panel-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {% bootstrap_form form %}

                        {% if sections %}
                            <hr>

                            {{ formset.management_form }}

                            <table class="table table-striped table-hover" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th class="text-center width-ten campaign-update-chapters">Section</th>
                                        <th class="text-center width-eighty campaign-update-chapters">Title</th>
                                        <th class="text-center width-ten campaign-update-chapters">Delete?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for form in formset %}
                                        <tr>
                                            <td class="width-ten">{{ form.id }}{{ form.order }}</td>
                                            <td class="width-eighty">{{ form.title }}</td>
                                            {% if form.instance.pk %}
                                                <td class="text-center width-ten">{{ form.DELETE }}</td>
                                            {% else %}
                                                <td class="text-center width-ten"></td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        {% else %}
                            {{ formset.management_form }}
                        {% endif %}
                        
                </div>
                <div class="panel-footer clearfix">
                    {% if chapter.pk %}
                        <a href="{% url 'campaign:campaign_detail' campaign_pk=campaign.pk chapter_pk=chapter.pk %}" class="btn btn-default">Cancel</a>
                        <input type="submit" class="btn btn-primary pull-right" value="Update Chapter">
                    {% else %}
                        <a href="{% url 'campaign:campaign_detail' campaign_pk=campaign.pk %}" class="btn btn-default">Cancel</a>
                        <input type="submit" class="btn btn-primary pull-right" value="Create Chapter">
                    {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}