<div class="col-md-4 col-lg-2 order-lg-4 order-3 bg-light full-vh">
    <h6 class="d-flex justify-content-between align-items-center">
        <span>Tags</span>
        <a href="" id="tags-tools-dropdown" class="text-dark"><i class="fas fa-cog"></i></a>
    </h6>

    <div id="tags-tools">
        <p>
            <input type="text" class="form-control form-control-sm" placeholder="Search for tags">
        </p>
        <p>
            <a href="" class="text-success"><i class="fas fa-fw fa-lg fa-plus-circle"></i><span>Create tags</span></a>
        </p>
        <p>
            <a href="" class="text-danger"><i class="fas fa-fw fa-lg fa-trash-alt"></i><span>Delete tags</span></a>
        </p>
    </div>
</div>
