{% extends 'layout.html' %}

{% load widget_tweaks %}


{% block title %}
    {% if section.pk %}
        Update section 
    {% else %}
        New section 
    {% endif %}
    | {{ block.super }}
{% endblock %}

{% block head_extra %}
    {{ form.media.css }}
    {{ form.media.js }}
    
    <script type="text/javascript">
        var taggable = [];
        var monsters_dict = {{monsters|safe}};
        for (var key in monsters_dict) {
            taggable.push({
                    'name': monsters_dict[key],
                    'id': key,
                    'type': 'monster'
                });
        }
        var npcs_dict = {{npcs|safe}};
        for (var key in npcs_dict) {
            taggable.push({
                    'name': npcs_dict[key],
                    'id': key,
                    'type': 'npc'
                });
        }
        var items_dict = {{items|safe}};
        for (var key in items_dict) {
            taggable.push({
                    'name': items_dict[key],
                    'id': key,
                    'type': 'item'
                });
        }
        var players_dict = {{players|safe}};
        for (var key in players_dict) {
            taggable.push({
                    'name': players_dict[key],
                    'id': key,
                    'type': 'player'
                });
        }
        var worlds_dict = {{worlds|safe}};
        for (var key in worlds_dict) {
            taggable.push({
                    'name': worlds_dict[key],
                    'id': key,
                    'type': 'world'
                });
        }
        var locations_dict = {{locations|safe}};
        for (var key in locations_dict) {
            taggable.push({
                    'name': locations_dict[key],
                    'id': key,
                    'type': 'location'
                });
        }
        var tables_dict = {{tables|safe}};
        for (var key in tables_dict) {
            taggable.push({
                    'name': tables_dict[key],
                    'id': key,
                    'type': 'table'
                });
        }
        tinymce.init({
            selector: "#id_content",
            height : "250",
            plugins: [
            'paste autosave autolink print searchreplace table textcolor wordcount link image mention hr'
            ],
            menu: {
            edit: {title: 'Edit', items: 'undo redo | cut copy paste pastetext | selectall | searchreplace'},
            insert: {title: 'Insert', items: 'image'},
            view: {title: 'View', items: 'visualaid'},
            format: {title: 'Format', items: 'bold italic underline strikethrough superscript subscript | formats | removeformat'},
            table: {title: 'Table', items: 'inserttable tableprops deletetable | cell row column'}
            },
            toolbar: 'print | restoredraft | fontsizeselect hr bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link | forecolor backcolor',
            browser_spellcheck: true,
            paste_as_text: true,
            fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
            relative_urls : false,
            remove_script_host : false,
            convert_urls : true,
            mentions: {
                source: taggable,
                delay: 0,
                insert: function(item) {
                    if (item.type == 'item') {
                        var url = "{% url 'items:item_detail' item_pk=999999999999 %}".replace(999999999999, item.id);
                    } else if (item.type == 'table') {
                        var url = "{% url 'tables:table_detail' table_pk=999999999999 %}".replace(999999999999, item.id);
                    } else if (item.type == 'world') {
                        var url = "{% url 'locations:location_detail' world_pk=999999999999 %}".replace(999999999999, item.id);
                    } else if (item.type == 'location') {
                        var url = "{% url 'locations:location_detail' location_pk=999999999999 %}".replace(999999999999, item.id);
                    } else {
                        var url = "{% url 'characters:monster_detail' monster_pk=999999999999 %}".replace(999999999999, item.id).replace(/monster/g, item.type);
                    }
                    return "<a href=" + url + ">" + item.name + "</a>";
                }
            }
        });
    </script>
{% endblock %}

{% block breadcrumbs %}
    {% include "campaign/breadcrumbs.html" with action="New section" %}
{% endblock %}

{% block body_content %}
    {% include "snippets/tag_info.html" %}

    <div class="row mt-3 pb-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="px-1 mb-0">
                        {% if section.pk %}
                            <span class="font-weight-bold">Update:</span> {{ campaign }} / {{ chapter }} / {{ section }}
                        {% else %}
                            <span class="font-weight-bold">New section for:</span> {{ campaign }} / {{ chapter }}
                        {% endif %}
                    </h5>
                </div>
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label for="{{ form.title.id_for_label }}">Title</label>
                            {% render_field form.title class+="form-control mb-3" %}
                            {% if form.title.errors %}
                                {% for error in form.title.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.content.id_for_label }}">Content</label>
                            {% render_field form.content class+="form-control mb-3" %}
                            {% if form.content.errors %}
                                {% for error in form.content.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.order.id_for_label }}">Order</label>
                            {% if section %}
                                {% render_field form.order class+="form-control mb-3" %}
                            {% else %}
                                <input type="number" name="{{ form.order.name }}" value="{{ section_number }}" id="{{ form.order.id_for_label }}" class="form-control mb-3" required>
                            {% endif %}

                            {% if form.order.errors %}
                                {% for error in form.order.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                </div>

                <div class="card-footer">
                    <div class="row justify-content-between">
                        {% if section.pk %}
                            <div class="col-auto">
                                <a href ="{% url 'campaign:campaign_detail' campaign_pk=campaign.pk chapter_pk=chapter.pk section_pk=section.pk %}" class="btn btn-secondary">Cancel</a>
                            </div>
                            <div class="col-auto">
                                <input type="submit" class="btn btn-primary" value="Update section">
                            </div>
                        {% else %}
                            <div class="col-auto">
                                <a href="{% url 'campaign:campaign_detail' campaign_pk=campaign.pk chapter_pk=chapter.pk %}" class="btn btn-secondary">Cancel</a>
                            </div>
                            <div class="col-auto">
                                <input type="submit" class="btn btn-primary" value="Create section">
                            </div>
                        {% endif %}
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
