{% extends 'layout.html' %}

{% load static %}
{% load locations_extras %}

{% block title %}Tavern - {{ campaign.title }} | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row mt-3 pb-5">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <h5 class="px-1 mb-0">{{ campaign.title }}</h5>
                        </div>
                        <div class="col-auto">
                            ***** x reviews, y comments, imported z times
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h3>Description</h3>
                    {% if campaign.tavern_description %}
                        {{ campaign.tavern_description|safe }}
                    {% else %}
                        <p>None</p>
                    {% endif %}
                    <hr>
                    <h3>Table of Contents</h3>
                    <ul class="contents_list">
                        {% if chapters %}
                            {% for c in chapters %}
                                <li class="li-content">{{ c.order }}. {{ c.title }}</li>
                                <ul style="padding-left:30px;">
                                    {% for s in sections %}
                                        {% if s.chapter.pk == c.pk %}
                                            <li class="li-content">{{ s.order }}. {{ s.title }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <hr>
                    <h3>Assets</h3>

                    <h5>Monsters</h5>
                    <ul>
                        {% for monster in monsters %}
                            <li>{{ monster.name }}</li>
                        {% endfor %}
                    </ul>

                    <h5>NPCs</h5>
                    <ul>
                        {% for npc in npcs %}
                            <li>{{ npc.name }}</li>
                        {% endfor %}
                    </ul>

                    <h5>Items</h5>
                    <ul>
                        {% for item in items %}
                            <li>{{ item.name }}</li>
                        {% endfor %}
                    </ul>

                    <h5>Worlds/Locations</h5>
                    <ul>
                        {% if worlds %}
                            {% for w in worlds %}
                                <li>{{ w.name }}</li>
                                {% get_world_locations w.pk as world_locations %}
                                {% if world_locations %}
                                    <ul style="padding-left:30px;">
                                        {% for world_location in world_locations %}
                                            {% include "locations/tavern_tree_view_template.html" %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>

                    <h5>Tables</h5>
                    <ul>
                        {% for table in tables %}
                            <li>{{ table.name }}</li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-auto">
                            <h5 class="px-1 mb-0">Summary</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                        <p>{{ chapters.count }} Chapter{{ chapters|pluralize }}, {{ sections.count }} Section{{ sections|pluralize }}</p><hr>
                        <p>{{ monsters|length }} Monster{{ monsters|pluralize }}, {{ npcs|length }} NPC{{ npcs|pluralize }}</p><hr>
                        <p>{{ items|length }} Item{{ items|pluralize }}</p><hr>
                        <p>{{ worlds|length }} World{{ worlds|pluralize }}, {{ locations|length }} Location{{ locations|pluralize }}</p><hr>
                        <p>{{ tables|length }} Table{{ tables|pluralize }}</p>
                        <a href="" class="btn btn-success btn-block mt-4">Import Campaign</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}