{% extends 'layout.html' %}

{% load static %}

{% block title %}Tavern - {{ campaign.title }} | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row mt-3 pb-5">
        <div class="col-lg-4 mb-3">
            <div class="card mb-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ chapters }} Chapter{{ chapters|pluralize }}, {{ sections }} Section{{ sections|pluralize }}</li>
                        <li class="list-group-item">{{ monsters }} Monster{{ monsters|pluralize }}, {{ npcs }} NPC{{ npcs|pluralize }}</li>
                        <li class="list-group-item">{{ items }} Item{{ items|pluralize }}</li>
                        <li class="list-group-item">{{ worlds }} World{{ worlds|pluralize }}, {{ locations }} Location{{ locations|pluralize }}</li>
                        <li class="list-group-item">{{ tables }} Table{{ tables|pluralize }}</li>
                        <li class="list-group-item"><a href="" class="btn btn-success btn-block">Import Campaign</a></li>
                    </ul>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <h5 class="px-1 mb-0">{{ campaign.title }}</h5>
                        </div>
                        <div class="col-auto">
                            <div class="dropdown">
                                <a class="btn btn-sm text-dark dropdown-toggle" href="#" role="button" id="contents-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-lg fa-cog"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="contents-dropdown">
                                    <a href="{% url 'campaign:chapter_create' campaign_pk=campaign.pk %}" class="dropdown-item text-success"><i class="mr-1 fal fa-fw fa-plus" aria-hidden="true"></i> Create chapter</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p>You haven't created any content yet!</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}