{% extends 'layout.html' %}

{% load static from staticfiles %}
{% load campaign_extras %}


{% block title %}{{ campaign.title }} | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="container-fluid container-full-vh bg-white">
        <div class="row row-full-vh">

            <!-- CAMPAIGN LIST -->
            <div class="col-md-4 col-lg-2 order-1 bg-light full-vh col-shadow">
                <h6 class="d-flex justify-content-between align-items-center">
                    <span>Campaigns</span>
                    <a href="" id="campaigns-tools-dropdown" class="text-dark"><i class="fas fa-cog"></i></a>
                </h6>
                <div id="campaigns-tools">
                        <input type="text" class="form-control form-control-sm" placeholder="Search for campaigns">
                    <p>
                        <a href="{% url 'campaign:campaign_create' %}" class="text-success"><i class="fas fa-fw fa-lg fa-plus-circle"></i><span>Create campaign</span></a>
                    </p>
                </div>
                <ul class="contents_list">
                    {% for c in campaigns %}
                        <li{% if c == campaign %} class="font-weight-bold"{% endif %}>
                            <a href="{% url 'campaign:campaign_detail' campaign_pk=c.pk %}">{{ c }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- CAMPAIGN CONTENTS -->
            <div class="col-md-4 col-lg-2 order-2 bg-light full-vh col-shadow">
                <h6 class="d-flex justify-content-between align-items-center">
                    <span>Contents</span>
                    <a href="" id="campaign-tools-dropdown" class="text-dark"><i class="fas fa-cog"></i></a>
                </h6>
                <div id="campaign-tools">
                    <p>
                        <input type="text" class="form-control form-control-sm" placeholder="Search in contents">
                    </p>
                    <p>
                        <a href="{% url 'campaign:chapter_create' campaign_pk=campaign.pk%}" class="text-success"><i class="fas fa-fw fa-lg fa-plus-circle"></i><span>Create chapter</span></a>
                    </p>
                    <p>
                        <a href="{%url 'campaign:campaign_update' campaign_pk=campaign.pk %}" class="text-teal"><i class="fas fa-fw fa-lg fa-pen-square"></i><span>Edit campaign</span></a>
                    </p>
                    <p>
                        <a href="" class="text-purple"><i class="fas fa-fw fa-lg fa-cloud-upload"></i><span>Publish campaign</span></a>
                    </p>
                    <p>
                        <a href="" class="text-orange"><i class="fas fa-fw fa-lg fa-save"></i><span>Print campaign</span></a>
                    </p>
                    <p>
                        <a id="campaign-delete" href="{% url 'campaign:campaign_delete' campaign_pk=campaign.pk %}" class="text-danger"><i class="fas fa-fw fa-lg fa-trash-alt"></i><span>Delete campaign</span></a>
                    </p>
                </div>
                <ul class="contents_list">
                    {% if chapters %}
                        {% for c in chapters %}
                            <li>
                                <a {% if c == chapter and not section and "chapter_create" not in action %}class="font-weight-bold" {% endif %}href="{% url 'campaign:chapter_detail' campaign_pk=campaign.pk chapter_pk=c.pk %}">
                                    {{ c.title }}
                                </a>
                            </li>
                            <ul class="pl-3">
                                {% for s in sections %}
                                    {% if s.chapter.pk == c.pk %}
                                        <li>
                                            <a {% if s == section %}class="font-weight-bold" {% endif %}href="{% url 'campaign:section_detail' campaign_pk=campaign.pk chapter_pk=c.pk section_pk=s.pk %}">
                                                {{ s.title }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    {% else %}
                        <li>No chapters</li>
                    {% endif %}
                </ul>
                <hr>
                <h6 class="d-flex justify-content-between align-items-center">
                    <span>Party</span>
                    <a href="" id="party-tools-dropdown" class="text-dark"><i class="fas fa-cog"></i></a>
                </h6>
                <div id="party-tools">
                    <p>
                        <input type="text" class="form-control form-control-sm" placeholder="Search for posts">
                    </p>
                    <p>
                        <a href="{% url 'campaign:campaign_party' campaign_pk=campaign.pk %}" class="text-pink"><i class="fas fa-fw fa-lg fa-swords"></i><span>View party</span></a>
                    </p>
                    <p>
                        <a href="{% url 'campaign:post_create' campaign_pk=campaign.pk %}" class="text-teal"><i class="fas fa-fw fa-lg fa-comment"></i><span>New post</span></a>
                    </p>
                    <p>
                        <a href="{% url 'campaign:campaign_party_invite' campaign_pk=campaign.pk %}" class="text-success"><i class="fas fa-fw fa-lg fa-plus-circle"></i><span>Invite players</span></a>
                    </p>
                </div>
                {% include "posts/party_feed.html" with posts=posts %}
            </div>

            <!-- CAMPAIGN BODY -->
            <div class="col-md-12 col-lg-6 order-lg-3 order-4 bg-white full-vh notes-shadow pb-3">
                <h4 class="d-flex justify-content-between align-items-center">
                    <span>
                        {% if action == "chapter_create" %}
                            New chapter
                        {% elif action == "section_create" %}
                            New section
                        {% elif chapter %}
                            {% if not section %}
                                {{ chapter.title }}
                            {% elif section %}
                                {{ section.title }}
                            {% endif %}
                        {% else %}
                            {{ campaign.title }}
                        {% endif %}
                    </span>
                    <a href="" id="body-tools-dropdown" class="text-dark"><i class="fas fa-cog"></i></a>
                </h4>
                <div id="body-tools">
                    {% if chapter %}
                        {% if not section %}
                            <p>
                                <a href="{% url 'campaign:section_create' campaign_pk=campaign.pk chapter_pk=chapter.pk %}" class="text-success"><i class="fas fa-fw fa-lg fa-plus-circle"></i><span>Create section</span></a>
                            </p>
                            <p>
                                <a href="{% url 'campaign:chapter_update' campaign_pk=campaign.pk chapter_pk=chapter.pk %}" class="text-teal"><i class="fas fa-fw fa-lg fa-pen-square"></i><span>Edit chapter</span></a>
                            </p>
                            <p>
                                <a id="chapter-delete" href="{% url 'campaign:chapter_delete' campaign_pk=campaign.pk chapter_pk=chapter.pk %}" class="text-danger"><i class="fas fa-fw fa-lg fa-trash-alt"></i><span>Delete chapter</span></a>
                            </p>
                        {% elif section %}
                            <p>
                                <a href="{% url 'campaign:section_create' campaign_pk=campaign.pk chapter_pk=chapter.pk %}" class="text-success"><i class="fas fa-fw fa-lg fa-plus-circle"></i><span>Create another section</span></a>
                            </p>
                            <p>
                                <a href="{% url 'campaign:section_update' campaign_pk=campaign.pk chapter_pk=chapter.pk section_pk=section.pk%}" class="text-teal"><i class="fas fa-fw fa-lg fa-pen-square"></i><span>Edit section</span></a>
                            </p>
                            <p>
                                <a id="section-delete" href="{% url 'campaign:section_delete' campaign_pk=campaign.pk chapter_pk=chapter.pk section_pk=section.pk %}" class="text-danger"><i class="fas fa-fw fa-lg fa-trash-alt"></i><span>Delete section</span></a>
                            </p>
                        {% endif %}
                    {% else %}
                        <p>
                            <a href="{% url 'campaign:chapter_create' campaign_pk=campaign.pk %}" class="text-success"><i class="fas fa-fw fa-lg fa-plus-circle"></i><span>Create chapter</span></a>
                        </p>
                    {% endif %}
                </div>
                {% block body_main %}{% endblock %}
            </div>

            <!-- CAMPAIGN TAGS -->
            <div class="col-md-4 col-lg-2 order-lg-4 order-3 bg-light full-vh">
                <h6 class="d-flex justify-content-between align-items-center">
                    <span>Tags</span>
                    <a href="" id="tags-tools-dropdown" class="text-dark"><i class="fas fa-cog"></i></a>
                </h6>
                <div id="tags-tools">
                    <p>
                        <input type="text" class="form-control form-control-sm" placeholder="Search for tags">
                    </p>
                    <p>
                        <a href="" class="text-success"><i class="fas fa-fw fa-lg fa-plus-circle"></i><span>Create tags</span></a>
                    </p>
                    <p>
                        <a href="" class="text-danger"><i class="fas fa-fw fa-lg fa-trash-alt"></i><span>Delete tags</span></a>
                    </p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block body_extra %}
    <script src="{% static 'js/campaign_delete.js' %}"></script>
    <script src="{% static 'js/tools_dropdown.js' %}"></script>
{% endblock %}
