html{position:relative;min-height:100%}body{padding-top:56px;background:url(../img/body_bg.png) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;margin-bottom:60px}#logo_wrapper{position:relative;width:191px;height:50px}#logo{position:absolute;top:14px;left:0;margin-top:auto}.navbar{background-color:#222;border-color:#080808}.nav-item{margin:0 .5rem}.navbar-toggle + #logo{display:none}.navbar-toggle.collapsed + #logo{display:block}a.dropdown-item:hover{background-color:#eee!important}ul.contents_list{padding:0}ul.contents_list li{list-style:none}.alert-success{text-align:center}.breadcrumbs{background-color:#333!important;color:#fff;border-radius:0!important}.breadcrumbs a{color:#fff;font-weight:700}.breadcrumbs a:hover{color:#ee1c25;text-decoration:none}.breadcrumbs_separator{color:#999;font-weight:400}.campaign-row{margin-top:30px}.panel-campaign{margin-top:30px}.panel-heading{padding:0}.panel-title{padding:10px 0 10px 15px}.panel-title-cog{padding:10px 0 0 15px}.navbar-cog{margin-right:0}.dropdown-cog{padding:0 15px!important;line-height:37px!important;color:#000}a.dropdown-cog:hover,a.dropdown-cog:active,li.open a.dropdown-cog{color:#000}.li-content{margin-bottom:10px}.alert{text-align:center}.margin-bottom-zero{margin-bottom:0}.width-ten{width:10%}.width-eighty{width:80%}.width-ninety{width:90%}

.inline{display:inline!important}
.tableoption input{width:100%;height:34px;padding:6px 12px;margin:0;font-size:14px;line-height:normal;color:#555;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}

.campaign-update-chapters{font-weight:700;font-size:14px}.character-label,.character-details,.character-label-long,.character-details-long{width:100%}.character-label p,.character-label-long p{text-align:center;text-transform:uppercase;font-weight:700;margin-bottom:5px}.character-details p{text-align:center;font-size:16px}.character-label-long p{text-align:left}.character-details-long p{text-align:left}a.home-panel{color:#999}a.home-panel:hover{text-decoration:none;color:#000}.maintenance{top:0;background:#333}.fancy img{border:5px solid #fff;margin:10px;box-shadow:0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)}.footer{position:absolute;bottom:0;width:100%;height:60px;line-height:60px;background-color:#222}.footer a{text-decoration:none;color:#9d9d9d;# margin:0 1rem}.footer a:hover{text-decoration:none;color:#fff}.footer .list-inline{margin:0}.footer .list-inline-item{margin-right:15px}.copyright{color:#666}#jumbotron-home{background:rgb(0,0,0);background:rgba(0,0,0,.6)}#jumbotron-footer{background:rgb(0,0,0);background:rgba(0,0,0,.6)}#jumbotron-home h1,#jumbotron-home p,#jumbotron-home a,#jumbotron-footer h1,#jumbotron-footer p,#jumbotron-footer a{color:#fff!important;color:rgba(255,255,255,1)!important}#jumbotron-home a:hover,#jumbotron-footer a:hover{color:#fff}#jumbotron-features{background:none;padding-top:0}#features-images{width:916px;margin:auto;text-align:center}#jumbotron-features .container h1{color:#fff;padding-bottom:10px}.stats{color:#fff}.panel-body table td{padding:5px}

a[class^="world-dropdown"]{margin-right:5px;}
div[class^="world-locations"]{display:none;}
.location-image{max-width:100%}

.btn, .form-control, .form-control-sm, .input-group-sm>.form-control, .input-group-sm>.input-group-append>.btn, .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, .input-group-sm>.input-group-prepend>.input-group-text{border-radius:0!important}
.btn{font-size:inherit}

.text-teal{color:#15aabf}
.text-purple{color:#9400D3}
.text-orange{color:#fd7e14}
.text-pink{color:#f783ac}

.full-vh{height:auto;padding-top:1rem!important}
.col-shadow{box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1)}
.notes-shadow{box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1)}
.container-fluid{font-size:1rem!important}
h6 span{text-transform: uppercase;font-size: 0.875rem;font-weight: 500;color: #444}

div[id$="-tools"]{display:none;margin:0 -15px 1rem;padding:1rem 15px;background: #eee}
div[id$="-tools"] svg{margin-right:0.25rem}
div[id$="-tools"] span{font-weight:500}
div[id$="-tools"] input{margin:0.25rem 0 1rem}
div[id$="-tools"] a{display:block;width:100%}
div[id$="-tools"] p{margin:0;padding:0.5rem 0}
div[id$="-tools"] a:hover{color:#000!important;text-decoration:none}

.rotate-cw-180, .rotate-ccw-180{
-moz-transition: all 0.5s linear;
-webkit-transition: all 0.5s linear;
transition: all 0.5s linear;
}
.rotate-cw-180{
-moz-transform:rotate(180deg);
-webkit-transform:rotate(180deg);
transform:rotate(180deg);
}
.rotate-ccw-180{
-moz-transform:rotate(-0deg);
-webkit-transform:rotate(-0deg);
transform:rotate(-0deg);
}

@media (max-width:991.99px){.container-full-vh{min-height:calc(100vh - 180px - 56px)}.row-full-vh{height:100%}body{margin-bottom:180px}.footer{height:180px;text-align:center!important}}
@media (max-width:575.98px){body{margin-bottom:180px}.footer{height:180px}#footer-social li{padding:0 0.25rem}.back-to-party{text-align:left}}
@media (min-width:576px){.back-to-party{text-align:right}}
@media (min-width:768px){div[id$="-tools"]{box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1)}.col-shadow{box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1)}}
@media (min-width:992px){div[id$="-tools"] p{padding:0.25rem 0}.full-vh{overflow-y:auto;height:calc(100vh - 60px - 56px);padding-top:1rem!important}.notes-shadow{box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1)}.container-fluid{font-size:0.875rem!important}body{margin-bottom:60px}.footer{height:60px}#footer-social{text-align:right!important}}
