html {
    position: relative;
    min-height: 100%;
}
body {
    /*min-height: 2000px;*/
    padding-top: 51px;
    background: url("../img/body_bg.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 110px !important;
}
#logo_wrapper {
    position: relative;
    width: 191px;
    height: 50px;
}
#logo {
    position: absolute;
    top: 14px;
    left: 0;
    margin-top: auto;
}
.navbar-toggle + #logo {
    display: none;
}
.navbar-toggle.collapsed + #logo {
    display: block;
}
ul.contents_list {
    padding: 0;
}
ul.contents_list li {
    list-style: none;
}
.alert-success {
    text-align: center;
}
.breadcrumbs {
    padding: 5px 0;
    background-color: #333;
    color: #fff;
    margin-bottom: 0;
}
.breadcrumbs a {
    color: #fff;
    font-weight: bold;
}
.breadcrumbs a:hover {
    color: #ee1c25;
    text-decoration: none;
}
.breadcrumbs_separator {
    color: #999;
    font-weight: normal;
}
.campaign-row {
    margin-top: 30px;
}
.panel-campaign {
    margin-top: 30px;
}
.panel-heading {
    padding: 0;
}
.panel-title {
    padding: 10px 0 10px 15px;
}
.panel-title-cog {
    padding: 10px 0 0 15px;
}
.navbar-cog {
    margin-right: 0;
}
.dropdown-cog {
    padding: 0 15px !important;
    line-height: 37px !important;
    color: #000;
}
a.dropdown-cog:hover, a.dropdown-cog:active, li.open a.dropdown-cog {
    color: #000;
}
.li-content {
    margin-bottom: 10px;
}
.alert {
    text-align: center;
}
.margin-bottom-zero {
    margin-bottom: 0;
}
.width-ten {
    width: 10%;
}
.width-eighty {
    width: 80%;
}
.width-ten input[id*='order'], .width-ten  input[id*='title'], .width-eighty input[id*='order'], .width-eighty  input[id*='title'] {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    margin: 0;
    font-size: 14px;
    line-height: normal;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.campaign-update-chapters {
    font-weight: 700;
    font-size: 14px;
}
.character-label, .character-details, .character-label-long, .character-details-long {
    width: 100%;
}
.character-label p, .character-label-long p {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
    color: #666;
}
.character-details p {
    text-align: center;
    font-size: 20px;
}
.character-label-long p {
    text-align: left;
}
.character-details-long p {
    text-align: left;
}
a.home-panel {
    color: #999;
}
a.home-panel:hover {
    text-decoration: none;
    color: #000;
}
.maintenance {
    top: 0;
    background: #333;
}
.fancy img {
    border: 2px solid #aaa;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
    background-color: #222;
}
.footer-div {
    text-align: center;
}
#footer-nav, #footer-social {
    height: 40px;
    width: 221px;
    margin: 0 auto;
    padding: 0;
}
#footer-social {
    width: 114px !important;
}
#footer-nav li, #footer-social li {
    height: 40px;
    display: inline-block;
    text-align: center;
    padding: 0 5px;
}
#footer-nav a, #footer-social a {
    text-decoration: none;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    color: #9d9d9d;
}
#footer-nav a:hover, #footer-social a:hover {
    text-decoration: none;
    color: #fff;
}
.copyright {
    color: #666;
}
.jumbotron-home {
   background: rgb(0, 0, 0) !important;
   background: rgba(0, 0, 0, 0.7) !important; 
}