body {
    /*min-height: 2000px;*/
    padding-top: 50px;
    background: url("../img/banner.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*margin-bottom: 150px !important;*/
}
.logo {
    margin: 30px auto;
    width: 310px;
}
.form-group .checkbox {
    display: none !important;
}
.control-label {
    display: none !important;
}

.facebook, .google, .facebook:hover, .google:hover{color:#ffffff}
.facebook{background-color:#4267b2;border-color:#29487d}
.facebook:hover{background-color:#365899;border-color:#29487d}
.google{background-color:#4285f4;border-color:#4285f4}
.google:hover{background-color:#357ae8;border-color:#2f5bb7}

form.login {
    margin-bottom: 0;
}
.auth-text {
    padding-left: 38px;
}
.auth-div {
    position: relative;
    height: 99px;
    margin-top: 23px;
}
.signup-div {
    position: relative;
    height: 99px;
    margin-top: 46px;
}

.black-transparent-blackground {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}
.black-transparent-blackground a:not(.btn) {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}
.black-transparent-blackground a:hover:not(.btn) {
  color: #ed1c24;
}

.form-control-dark{
  color: #fff;
  background-color: #212529;
  border: 1px solid #000;
}
.form-control-dark:focus{
  color: #fff;
  background-color: #212529;
  border-color: #000;
  box-shadow: 0 0 0 .25rem rgba(248, 27, 39, .25);
}
.form-control-dark[type="checkbox"]:checked{
  background-color: #0d6efd;
  border-color: ##86b7fe;
  box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}
.form-control-dark[type="checkbox"]::after{
  background-color: #0d6efd;
  border-color: ##86b7fe;
  box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}

