body {
    /*min-height: 2000px;*/
    padding-top: 50px;
    background: url("../img/banner.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*margin-bottom: 150px !important;*/
}
.logo {
    margin: 30px auto;
    width: 310px;
}
.form-group .checkbox {
    display: none !important;
}
.control-label {
    display: none !important;
}

.facebook, .google, .facebook:hover, .google:hover{color:#ffffff}
.facebook{background-color:#4267b2;border-color:#29487d}
.facebook:hover{background-color:#365899;border-color:#29487d}
.google{background-color:#4285f4;border-color:#4285f4}
.google:hover{background-color:#357ae8;border-color:#2f5bb7}

form.login {
    margin-bottom: 0;
}
.auth-text {
    padding-left: 38px;
}
.auth-div {
    position: relative;
    height: 99px;
    margin-top: 23px;
}
.signup-div {
    position: relative;
    height: 99px;
    margin-top: 46px;
}

#jumbotron-home {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}
#welcome a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}
#welcome a:hover {
  color: #ed1c24;
}
