{% extends 'layout.html' %}
{% load bootstrap3 %}

{% block title %}
    {% if spell.pk %}
        Update Spell 
    {% else %}
        New Spell 
    {% endif %}
    | {{ block.super }}
{% endblock %}

{% block head_extra %}
    {{ form.media.css }}
    {{ form.media.js }}

    <script type="text/javascript">
        var taggable = [];
        var monsters_dict = {{monsters|safe}};
        for (var key in monsters_dict) {
            taggable.push({
                    'name': monsters_dict[key],
                    'id': key,
                    'type': 'monster'
                });
        }
        var npcs_dict = {{npcs|safe}};
        for (var key in npcs_dict) {
            taggable.push({
                    'name': npcs_dict[key],
                    'id': key,
                    'type': 'npc'
                });
        }
        var spells_dict = {{spells|safe}};
        for (var key in spells_dict) {
            taggable.push({
                    'name': spells_dict[key],
                    'id': key,
                    'type': 'spell'
                });
        }
        var players_dict = {{players|safe}};
        for (var key in players_dict) {
            taggable.push({
                    'name': players_dict[key],
                    'id': key,
                    'type': 'player'
                });
        }
        var worlds_dict = {{worlds|safe}};
        for (var key in worlds_dict) {
            taggable.push({
                    'name': worlds_dict[key],
                    'id': key,
                    'type': 'world'
                });
        }
        var locations_dict = {{locations|safe}};
        for (var key in locations_dict) {
            taggable.push({
                    'name': locations_dict[key],
                    'id': key,
                    'type': 'location'
                });
        }
        tinymce.init({
            selector: "textarea",
            height : "100",
            plugins: [
            'paste autosave autolink print searchreplace table textcolor wordcount link image mention'
            ],
            menu: {
            edit: {title: 'Edit', spells: 'undo redo | cut copy paste pastetext | selectall | searchreplace'},
            insert: {title: 'Insert', spells: 'image'},
            view: {title: 'View', spells: 'visualaid'},
            format: {title: 'Format', spells: 'bold italic underline strikethrough superscript subscript | formats | removeformat'},
            table: {title: 'Table', spells: 'inserttable tableprops deletetable | cell row column'}
            },
            toolbar: 'print | fontsizeselect bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link | forecolor backcolor',
            browser_spellcheck: true,
            paste_as_text: true,
            fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
            relative_urls : false,
            remove_script_host : false,
            convert_urls : true,
            mentions: {
                source: taggable,
                delay: 0,
                insert: function(spell) {
                    if (spell.type == 'spell') {
                        var url = "{% url 'spells:spell_detail' spell_pk=999999999999 %}".replace(999999999999, spell.id);
                    } else if (spell.type == 'world') {
                        var url = "{% url 'locations:location_detail' world_pk=999999999999 %}".replace(999999999999, spell.id);
                    } else if (spell.type == 'location') {
                        var url = "{% url 'locations:location_detail' location_pk=999999999999 %}".replace(999999999999, spell.id);
                    } else {
                        var url = "{% url 'characters:monster_detail' monster_pk=999999999999 %}".replace(999999999999, spell.id).replace(/monster/g, spell.type);
                    }
                    return "<a href=" + url + ">" + spell.name + "</a>";
                }
            }
        });
    </script>
{% endblock %}

{% block body_content %}
    <div class="col-md-12">
        <div class="panel panel-default panel-campaign">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {% if spell.pk %}
                        <strong>Update spell:</strong> {{ spell.name }}
                    {% else %}
                        <strong>New spell</strong>
                    {% endif %}
                </h3>
            </div>
            <div class="panel-body">
                <form method="POST" action="">
                    {% csrf_token %}
                    {% bootstrap_form form %}
            </div>
            <div class="panel-footer clearfix">
                {% if spell.pk %}
                    <a href="{% url 'spells:spell_detail' spell_pk=spell.pk %}" class="btn btn-default">Cancel</a>
                    <input type="submit" class="btn btn-primary pull-right" value="Update spell/spell">
                {% else %}
                    <a href="{% url 'spells:spell_detail' %}" class="btn btn-default">Cancel</a>
                    <input type="submit" class="btn btn-primary pull-right" value="Create spell/spell">
                {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}