{% extends 'layout.html' %}
{% load bootstrap3 %}

{% block title %} Copy spell | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default panel-campaign">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Copy spell</strong></h3>
            </div>
            <div class="panel-body">
                <form method="POST" action="" style="margin-bottom:0;">
                    {% csrf_token %}
                    <p>Making copy of:</p>
                    <p style="font-size: 18px; font-weight: bold;" class="text-center">{{ spell.name }}</p>
            </div>
            <div class="panel-footer clearfix">
                    <a href="{% url 'spell:spell' spell_pk=spell.pk %}" class="btn btn-default">Cancel</a>
                    <input type="submit" class="btn btn-primary pull-right" value="Copy spell">
                </form>
            </div>
        </div>
    </div>
{% endblock %}