{% extends 'layout.html' %}

{% load humanize %}
{% load static %}

{% load tavern_extras %}

{% block title %}Tavern {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row mt-3 pb-5">
        <div class="col-lg-5">
            <div class="card mb-3">
                <div class="card-body">
                    <h3>{{ character }}</h3>
                    <p>{{ rating|safe }} <span class="ml-1">{{ reviews.count }} <a href="#reviews">review{{ reviews.count|pluralize }}</a>, imported {{ importers }} time{{ importers|pluralize }}</span></p>

                    <p><span class="font-weight-bold">Character type</span> {% if character_type %}{{ character_type.value }}{% else %}None{% endif %}</p>
                    <h5>Description</h5>
                    {% if character.tavern_description %}
                        {{ character.tavern_description|safe }}
                    {% else %}
                        <p>None</p>
                    {% endif %}

                    {% if request.user == character.user %}
                        <a href="{% url 'characters:character_unpublish' pk=character.pk %}" id="character-unpublish" class="btn btn-danger btn-block mt-4">Unpublish character</a>
                    {% else %}
                        <a id="tavern-import" href="{% url 'tavern:tavern_character_import' pk=character.pk %}" class="btn btn-success btn-block mt-4">Import character</a>
                        <a href="{% url 'tavern:tavern_character_review' pk=character.pk %}" class="btn btn-primary btn-block mt-3">Review character</a>
                    {% endif %}
                </div>
            </div>
            <div id="reviews" class="card mb-3">
                <div class="card-body">
                    <h5>Reviews</h5>
                    {% if reviews %}
                        {% for review in reviews %}
                            <div class="row small mb-2 text-secondary">
                                <div class="col">
                                    <span class="mr-1">{% rating_stars_html_tag review.score as score %}{{ score|safe }}</span>
                                    <i class="fas fa-clock mr-1"></i>{{ review.date|naturaltime }}
                                </div>
                            </div>
                            {% if review.comment %}
                                <div class="row">
                                    <div class="col">
                                        {{ review.comment|linebreaks }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if not forloop.last %}<hr>{% endif %}
                        {% endfor %}
                    {% else %}
                        <p>No comments!</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-lg-7">
            <div class="card mb-3">
                <div class="card-body">
                    {% include "characters/character_stats.html" with character=character stats=stats %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_extra %}
    <script src="{% static 'js/character_unpublish.js' %}"></script>
    <script src="{% static 'js/tavern_import.js' %}"></script>
{% endblock %}
