{% extends 'layout.html' %}

{% load humanize %}
{% load static %}

{% load tavern_extras %}

{% block title %}Tavern {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row mt-3 pb-5">
        <div class="col-lg-8">
            <div class="card mb-3">
                <div class="card-body">
                    <h3>{{ obj }}</h3>
                    <p>{{ rating|safe }} <span class="ml-1">{{ reviews.count }} <a href="#reviews">review{{ reviews.count|pluralize }}</a>, imported {{ importers }} time{{ importers|pluralize }}</span></p>

                    <h5>Description</h5>
                    {% if obj.tavern_description %}
                        {{ obj.tavern_description|safe }}
                    {% else %}
                        <p>None</p>
                    {% endif %}
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <p>info</p>
                </div>
            </div>

            <div id="reviews" class="card mb-3">
                <div class="card-body">
                    <h5>Reviews</h5>
                    {% if reviews %}
                        {% for review in reviews %}
                            <div class="row small mb-2 text-secondary">
                                <div class="col">
                                    <span class="mr-1">{% rating_stars_html_tag review.score as score %}{{ score|safe }}</span>
                                    <i class="fas fa-clock mr-1"></i>{{ review.date|naturaltime }}
                                </div>
                            </div>
                            {% if review.comment %}
                                <div class="row">
                                    <div class="col">
                                        {{ review.comment|linebreaks }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if not forloop.last %}<hr>{% endif %}
                        {% endfor %}
                    {% else %}
                        <p>No comments!</p>
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="col-lg-4 mb-3">
            <div class="card mb-3">
                <div class="card-body">
                    <h5>Summary</h5>
                    <ul class="contents_list">
                        <li>{{ chapters.count }} Chapter{{ chapters|pluralize }}, {{ sections.count }} Section{{ sections|pluralize }}</li>
                        <li>{{ monsters|length }} Monster{{ monsters|pluralize }}, {{ npcs|length }} NPC{{ npcs|pluralize }}</li>
                        <li>{{ items|length }} Item{{ items|pluralize }}</li>
                        <li>{{ worlds|length }} World{{ worlds|pluralize }}, {{ locations|length }} Location{{ locations|pluralize }}</li>
                        <li>{{ tables|length }} Table{{ tables|pluralize }}</li>
                    </ul>
                        {% if type == "monster" %}
                            {% if request.user == obj.user %}
                                <a href="{% url 'characters:character_unpublish' type='monster' pk=obj.pk %}" id="obj-unpublish" class="btn btn-danger btn-block mt-4">Unpublish monster</a>
                            {% else %}
                                <a id="tavern-import" href="{% url 'tavern:tavern_character_import' type='monster' pk=obj.pk %}" class="btn btn-success btn-block mt-4">Import monster</a>
                                <a href="{% url 'tavern:tavern_character_review' type='monster' pk=obj.pk %}" class="btn btn-primary btn-block mt-3">Review monster</a>
                            {% endif %}
                        {% elif type == "npc" %}
                            {% if request.user == obj.user %}
                                <a href="{% url 'characters:character_unpublish' type='npc' pk=obj.pk %}" id="obj-unpublish" class="btn btn-danger btn-block mt-4">Unpublish NPC</a>
                            {% else %}
                                <a id="tavern-import" href="{% url 'tavern:tavern_character_import' type='npc' pk=obj.pk %}" class="btn btn-success btn-block mt-4">Import NPC</a>
                                <a href="{% url 'tavern:tavern_character_review' type='npc' pk=obj.pk %}" class="btn btn-primary btn-block mt-3">Review NPC</a>
                            {% endif %}
                        {% elif type == "player" %}
                            {% if request.user == obj.user %}
                                <a href="{% url 'characters:character_unpublish' type='player' pk=obj.pk %}" id="obj-unpublish" class="btn btn-danger btn-block mt-4">Unpublish player</a>
                            {% else %}
                                <a id="tavern-import" href="{% url 'tavern:tavern_character_import' type='player' pk=obj.pk %}" class="btn btn-success btn-block mt-4">Import player</a>
                                <a href="{% url 'tavern:tavern_character_review' type='player' pk=obj.pk %}" class="btn btn-primary btn-block mt-3">Review player</a>
                            {% endif %}
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_extra %}
    <script src="{% static 'js/campaign_unpublish.js' %}"></script>
    <script src="{% static 'js/tavern_import.js' %}"></script>
{% endblock %}
