{% extends 'layout.html' %}

{% load humanize %}
{% load static %}

{% load lib_extras %}
{% load locations_extras %}
{% load tavern_extras %}

{% block title %}Tavern - {{ campaign.title }} | {{ block.super }}{% endblock %}

{% block body_content %}
  <p class="mt-3 mb-1 fw-bold">{{ campaign.title }}</p>
  <p>{{ rating|safe }} <span class="ms-1">{{ reviews.count }} <a href="#reviews">review{{ reviews.count|pluralize }}</a>, imported {{ importers }} time{{ importers|pluralize }}</span></p>

  <p class="mt-4 mb-1 fw-bold">Description</p>
  {% if campaign.tavern_description %}
    {{ campaign.tavern_description|safe }}
  {% else %}
    <p>None</p>
  {% endif %}

  <p class="mt-3">
    {% if request.user == campaign.user %}
      <a href="{% url 'campaign:campaign_unpublish' campaign_pk=campaign.pk %}" id="campaign-unpublish" class="btn btn-danger btn-sm">Unpublish campaign</a>
    {% else %}
      <a href="{% url 'campaign:campaign_import' campaign.public_url %}" class="btn btn-success btn-sm">Import campaign</a>
      <a href="{% url 'tavern:tavern_campaign_review' campaign.public_url %}" class="btn btn-primary btn-sm">Review campaign</a>
    {% endif %}
  </p>

  <hr class="my-4" />

  <p class="mt-4 mb-1 fw-bold">Table of Contents</p>
  <ul class="contents_list">
    {% if campaign.children %}
      {% for chapter, sections in campaign.children.items %}
        <li class="li-content">{{ chapter.order }}. {{ chapter.title }}</li>
        <ul style="padding-left:30px;">
          {% for section in sections %}
            <li class="li-content">{{ section.order }}. {{ section.title }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    {% endif %}
  </ul>

  {% for model, objects in characters.items %}
    <p class="mt-3 mb-0 fw-bold">{% get_verbose_name_plural objects.0 %}</p>
    {% for object in objects %}
      {{ object }}<br />
    {% endfor %}
  {% endfor %}

  <hr class="my-4" />

  <div id="reviews" class="mb-3">
    <p class="mb-1 fw-bold">Reviews</p>
    {% if reviews %}
      {% for review in reviews %}
        <div class="row small mb-2 text-secondary">
          <div class="col">
            <span class="mr-1">{% rating_stars_html_tag review.score as score %}{{ score|safe }}</span>
            <i class="fas fa-clock mr-1"></i>{{ review.date|naturaltime }}
          </div>
        </div>
        {% if review.comment %}
          <div class="row">
            <div class="col">
              {{ review.comment|linebreaks }}
            </div>
          </div>
        {% endif %}
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
    {% else %}
      <p>No comments!</p>
    {% endif %}
  </div>
{% endblock %}

{% block body_extra %}
  <script src="{% static 'js/campaign_unpublish.js' %}"></script>
{% endblock %}
