{% extends 'layout.html' %}

{% load widget_tweaks %}

{% block title %}Review - {{ obj.title }} | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row justify-content-center mt-3 pb-3">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="px-1 mb-0">Review character</h5>
                </div>
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <p>Give this character a rating <span class="fw-bold">from 1 to 5 stars</span>. An example of a 1-star character would be something that the creator put no effort into and has no place to be on the Tavern. An example of a 5-star character would be something that had a detailed description, included everything you needed for that character, was well thought out, and was easy to implement in your campaign.</p>
                        <p>Additionally, you can leave a comment to help explain your rating, provide criticism for the character creator, or let other users know if you'd recommend this character.</p>
                        <p><span class="fw-bold">Note:</span> Remember, people spend a lot of their time working on these characters. Just because you don't like someone's ideas doesn't mean they're bad ideas. Be mindful of the differences. You can be constructively critical without being a jerk.</p>
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label for="{{ form.score.id_for_label }}" class="fw-bold">Rating (1 to 5)</label>
                            {% if form.score.errors %}
                                {% for error in form.score.errors %}
                                    <span class="text-danger ml-3">
                                        {{ error|escape }}
                                    </span>
                                {% endfor %}
                            {% endif %}
                            {% render_field form.score class+="form-control mb-3" %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.comment.id_for_label }}" class="fw-bold">Comment</label>
                            {% render_field form.comment class+="form-control mb-3" %}
                            {% if form.comment.errors %}
                                {% for error in form.comment.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <a href="{% url 'tavern:tavern_character_detail' type=type pk=obj.pk %}" class="btn btn-secondary">Cancel</a>
                        </div>
                        <div class="col-auto">
                            <input type="submit" class="btn btn-primary" value="Submit">
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
