{% extends 'layout.html' %}

{% load static %}
{% load humanize %}

{% load tavern_extras %}

{% block title %}Tavern | {{ block.super }}{% endblock %}

{% block body_content %}
  <h1 class="mt-1">The Tavern</h1>
  <p>Welcome to our collection of community campaigns. Publish your campaigns in the Tavern, and then other users can import the campaign and all of its assets into their account. Let others know which content is good by giving reviews and leaving comments on campaigns.</p>
  <p class="mb-5">Everything in the Tavern is free and always will be free. Build a campaign and share it with others to create quality content that everyone can use. This is a very new feature for us so we'll be paying close attention to how it gets used. The Tavern will be evolving over time based on community feedback, so please let us know what you like and don't like about it so we can fix things and improve on it.</p>

  {% for object in objects %}
    <div class="row">
      <div class="col-sm">
        <span class="badge {{ object|tavern_badge_style }} me-1">{{ object|object_class }}</span>
        <a href="{{ object.get_tavern_url }}">{{ object }}</a>
      </div>
      <div class="col-sm-2 text-sm-end">
        {% rating_stars_html_tag object.rating as rating %}{{ rating|safe }}
      </div>
      <div class="col-sm-3 text-sm-end">
        <i class="fas fa-fw fa-clock me-1"></i>{{ object.published_date|naturaltime }}
      </div>
    </div>
  {% endfor %}
{% endblock %}
