{% extends 'layout.html' %}
{% load bootstrap3 %}
{% load account %}

{% block title %}Confirm E-mail Address | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default panel-campaign">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Confirm E-mail Address
                </h3>
            </div>
            <div class="panel-body">
                {% if confirmation %}
                    {% user_display confirmation.email_address.user as user_display %}
                    <p>{% with confirmation.email_address.email as email %}Please confirm that your email address is: <strong><a href="mailto:{{ email }}">{{ email }}</a></strong>{% endwith %}</p>
            </div>
            <div class="panel-footer clearfix">
                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    {% csrf_token %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    {% endbuttons %}
                </form>
                {% else %}
                    {% url 'account_email' as email_url %}
                    <p>This e-mail confirmation link has expired or is invalid. <a href="{{ email_url }}">Click here to resend a confirmation request.issue a new e-mail confirmation request</a>.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}