{% extends 'layout.html' %}
{% load account %}

{% block title %}Confirm email address | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="px-1 mb-0">
                        Confirm email address
                    </h5>
                </div>
                <div class="card-body text-center">
                    {% if confirmation %}
                        {% user_display confirmation.email_address.user as user_display %}
                        <p>{% with confirmation.email_address.email as email %}Please confirm that your email address is:</p>
                        <p><span class="fw-bold"><a href="mailto:{{ email }}">{{ email }}</a></span>{% endwith %}</p>
                        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </form>
                    {% else %}
                        {% url 'account_email' as email_url %}
                        <p>This e-mail confirmation link has expired or is invalid. <a href="{{ email_url }}">Click here to resend a confirmation request.issue a new e-mail confirmation request</a>.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
