{% extends 'layout.html' %}
{% load bootstrap3 %}

{% block title %}Delete Account | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default panel-campaign">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Delete Account
                </h3>
            </div>
            <div class="panel-body">
                <form method="post" action="" style="margin-bottom:0;">
                    {% csrf_token %}
                    <p>Please confirm that you want to delete the following account:</p>
                    <p style="font-size: 18px; font-weight: bold;" class="text-center">{{ user.username }}</p>
                    <p class="margin-bottom-zero">This account will be permanently deleted.</p>
            </div>
            <div class="panel-footer clearfix">
                    <input type="submit" class="btn btn-primary btn-block" value="Delete account">
                </form>
            </div>
        </div>
    </div>
{% endblock %}