{% extends 'layout.html' %}
{% load bootstrap3 %}

{% block title %}Donate | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row campaign-row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>This site is completely free and will continue to be free. However, we've gotten feedback from users saying that you would like the option to donate money to help keep our servers running.</p>
                    <p>We are growing the servers as our user base increases. Even $1 helps us a lot. Seriously! Thank you for using our site and thank you for donating to help us keep it up and running!</p>
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=3AH396JSPMD9U&lc=US&item_name=Dungeonomics&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted" class="btn btn-block btn-success">Donate</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}