{% extends 'layout.html' %}


{% block title %}Donate | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row justify-content-center mt-3 pb-3">
        <div class="col-lg-6">
            <div class="alert alert-info" role="alert">
                We've moved from PayPal to <a href="https://page.fund" target="_blank" class="alert-link font-weight-bold">PageFund</a>, which is the project I've been working on while I've been away from Dungeonomics.
            </div>
            <div class="card">
                <div class="card-body">
                    <p>This site is completely free and will continue to be free. However, we've gotten feedback from users saying that you would like the option to donate money to help keep our servers running.</p>
                    <p>We are growing the servers as our user base increases. Even $1 helps us a lot. Seriously! Thank you for using our site and thank you for donating to help us keep it up and running!</p>
                    <a href="https://page.fund/dungeonomics" class="btn btn-block btn-success" target="_blank">Donate</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}