<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 copyright">
                &copy; {% now "Y" %} Dungeonomics
            </div>
            <div class="col-lg-6">
                <ul id="footer-links" class="list-inline">
                    <li class="list-inline-item"><a href="{% url 'donate' %}">Donate</a></li>
                    <li class="list-inline-item"><a href="mailto:dungeonomics@gmail.com">Contact</a></li>
                    <li class="list-inline-item"><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul id="footer-social" class="list-inline">
                    <li class="list-inline-item"><a href="https://twitter.com/dungeonomics" target="_blank"><i class="fab fa-twitter fa-lg"></i><span class="sr-only">Dungeonomics Twitter</span></a></li>
                    <li class="list-inline-item"><a href="https://reddit.com/r/dungeonomics" target="_blank"><i class="fab fa-reddit-alien fa-lg"></i><span class="sr-only">Dungeonomics Reddit</span></a></li>
                    <li class="list-inline-item"><a href="https://github.com/brunosardinepi/dungeonomics" target="_blank"><i class="fab fa-github fa-lg"></i><span class="sr-only">Dungeonomics GitHub</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>