{% extends 'layout.html' %}
{% load static from staticfiles %}

{% block title %} Home | {{ block.super }}{% endblock %}

{% block static %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" type="text/css" media="screen" />
{% endblock %}

{% block body_content %}
    {% if user.is_authenticated %}
        <div class="row campaign-row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <a href="{% url 'campaign:campaign_create' %}" class="home-panel">
                        <div class="panel-body">
                            <p class="text-center"><i class="fa fa-book fa-5x" aria-hidden="true"></i></p>
                            <h2 class="text-center">New Campaign</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <a href="{% url 'characters:monster_detail' %}" class="home-panel">
                        <div class="panel-body">
                            <p class="text-center"><i class="fa fa-paw fa-5x" aria-hidden="true"></i></p>
                            <h2 class="text-center">Monsters</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <a href="{% url 'characters:npc_detail' %}" class="home-panel">
                        <div class="panel-body">
                            <p class="text-center"><i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i></p>
                            <h2 class="text-center">NPCs</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <a href="{% url 'characters:player_detail' %}" class="home-panel">
                        <div class="panel-body">
                            <p class="text-center"><i class="fa fa-users fa-5x" aria-hidden="true"></i></p>
                            <h2 class="text-center">Players</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <a href="{% url 'profile' %}" class="home-panel">
                        <div class="panel-body">
                            <p class="text-center"><i class="fa fa-globe fa-5x" aria-hidden="true"></i></p>
                            <h2 class="text-center">Account</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <a href="{% url 'items:item_detail' %}" class="home-panel">
                        <div class="panel-body">
                            <p class="text-center"><i class="fa fa-diamond fa-5x" aria-hidden="true"></i></p>
                            <h2 class="text-center">Items</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <a href="{% url 'wiki:home' %}" class="home-panel">
                        <div class="panel-body">
                            <p class="text-center"><i class="fa fa-info-circle fa-5x" aria-hidden="true"></i></p>
                            <h2 class="text-center">Wiki</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% else %}
        <div id="jumbotron-home" class="jumbotron">
            <div class="container">
                <h1>Streamlined Roleplaying</h1>
                <p>Dungeonomics is a place where DMs can manage their campaigns without the hassle of sifting through a mountain of paper. DMs control all aspects of their campaign from plot creation and setting up encounters to looking up/creating monsters or NPCs.</p>

                <p>Just so we're clear, we believe that there's no substitute for the real thing. Getting together with other adventurers in person will always be the best way to play D&D. Our goal is to enhance that and make it easier for you to immerse yourself in the game by eliminating the need to flip through a bunch of papers, which can sometimes pull you out of the experience.</p>

                <p>Now, go forth and create! Also, please come check us out on <a href="https://www.reddit.com/r/dungeonomics/" target="_blank"><strong>Reddit</strong></a> to give us feedback and to receive updates.</p>
                
                <p>
                    <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a>
                    <a class="btn btn-success btn-lg" href="{% url 'signup' %}" role="button">Sign up</a>
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block end_static %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("a.fancy").fancybox({
                'transitionIn'	:	'elastic',
                'transitionOut'	:	'elastic',
                'speedIn'		:	600, 
                'speedOut'		:	200, 
                'overlayShow'	:	false
            });            
        });
    </script>
{% endblock %}