{% extends 'layout.html' %}
{% load campaign_extras %}

{% block title %} Home | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row campaign-row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <a href="{% url 'campaign:campaign_detail' home_campaign:request.user %}">
                    <div class="panel-body">
                        <p class="text-center"><i class="fa fa-book fa-5x" aria-hidden="true"></i></p>
                        <h1>Campaigns</h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <a href="{% url 'monster' %}">
                    <div class="panel-body">
                        <p class="text-center"><i class="fa fa-paw fa-5x" aria-hidden="true"></i></p>
                        <h1>Monsters</h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <a href="{% url 'npc' %}">
                    <div class="panel-body">
                        <p class="text-center"><i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i></p>
                        <h1>NPCs</h1>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}