{% load static from staticfiles %}
{% load lib_extras %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
		<meta name="viewport" content="width=device-width">
		<title>{% block title %}Dungeonomics{% endblock %}</title>
        {% block head_extra %}{% endblock %}
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'js/manifest.json' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static 'img/ms-icon-144x144.png' %}">
        <meta name="theme-color" content="#ffffff">
		<!-- stylesheets -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/layout.css' %}?{% now 'U' %}">
        {% block static %}{% endblock %}
	</head>

    <body>
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-89671203-1', 'auto');
        ga('send', 'pageview');

        </script>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div id="logo_wrapper">
                        <a id="logo" href="{% url 'home' %}" title="Dungeonomics">
                            <img id="logo_img" src="{% static 'img/logo_cut.png' %}" alt="Dungeonomics">
                        </a>
                    </div>
                </div>
                <div id="navbar" class="navbar-collapse collapse">

                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}                            
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Campaigns <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% nav_campaign_list request %}
                                    <li><a href="{% url 'campaign:campaign_create' %}"><span class="text-success"><i class="fa fa-fw fa-plus" aria-hidden="true"></i> Create campaign</span></a></li>
                                    <li><a href="{% url 'campaign:campaign_import' %}"><span class="text-primary"><i class="fa fa-fw fa-upload" aria-hidden="true"></i> Import campaign</span></a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'characters:player_detail' %}">Players</a></li>
                            <li><a href="{% url 'characters:monster_detail' %}">Monsters</a></li>
                            <li><a href="{% url 'characters:npc_detail' %}">NPCs</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'items:item_detail' %}">Items</a></li>
									<li><a href="{% url 'spells:spell_detail' %}">Spells</a></li>
                                    <li><a href="{% url 'locations:location_detail' %}">Locations</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'wiki:home' %}">Wiki</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">{{ user.email }}</li>
                                    <li><a href="{% url 'profile' %}"><i class="fa fa-fw fa-user" aria-hidden="true"></i> Profile</a></li>
                                    <li><a href="{% url 'donate' %}"><i class="fa fa-fw fa-credit-card" aria-hidden="true"></i> Donate</a></li>
                                    <li><a href="{% url 'account_logout' %}"><i class="fa fa-fw fa-power-off" aria-hidden="true"></i> Logout</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block breadcrumbs %}{% endblock %}
        {% bootstrap_messages %}
        {% block header_title %}{% endblock %}

        {% if user.is_authenticated %}
            <div class="container">
        {% endif %}

        {% block body_content %}{% endblock %}
        
        {% if user.is_authenticated %}
            </div>
        {% endif %}
        
        {% block end_static %}{% endblock %}

        <footer class="footer">
            <div class="footer-div">
                <ul id="footer-nav">
                    <li><a href="{% url 'donate' %}">Donate</a></li>
                    <li><a href="mailto:dungeonomics@gmail.com">Contact</a></li>
                    <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                </ul>
            </div>
            <div>
                <ul id="footer-social">
                    <li><a href="https://www.reddit.com/r/dungeonomics/" target="_blank"><i class="fa fa-2x fa-reddit" aria-hidden="true"></i></a></li>                    
                    <li><a href="https://github.com/brunosardinepi/dungeonomics" target="_blank"><i class="fa fa-2x fa-github" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.facebook.com/dungeonomics/" target="_blank"><i class="fa fa-2x fa-facebook-official" aria-hidden="true"></i></a></li>
                </ul> 
            </div>
            <div>
                <p class="text-center copyright">Copyright &copy; 2017 Dungeonomics</p>
            </div>
        </footer>
	</body>
</html>
