{% load static %}
{% load lib_extras %}

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{% block title %}Dungeonomics{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'js/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'img/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    {% include "structured_data.html" %}
    {% include "twitter_metadata.html" %}
    {% include "og.html" %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="{% static 'css/layout.css' %}?{% now 'U' %}">

    <script defer src="{% static 'js/fontawesome-all.min.js' %}"></script>

    {% block head_extra %}{% endblock %}
    {% block static %}{% endblock %}
	</head>

  <body>
    {% use_ga as use_ga %}
    {% if use_ga == True %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
        ga('create', 'UA-89671203-1', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}

    <main>
      <nav class="flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <a href="{% url 'home' %}" class="d-flex align-items-center pb-3 mb-3">
          <img class="me-2" src="{% static 'img/logo_nav.svg' %}" alt="Dungeonomics logo">
        </a>
        <ul class="list-unstyled ps-0">
          {% for section in navbar %}
            <li class="mb-1">
              {% if section.type == "dropdown" %}
                <button
                    class="btn btn-toggle align-items-center collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#{{ section.name|lower }}-collapse"
                    aria-expanded="false">
                  <i class="fas fa-fw {{ section.icon }} me-2"></i>
                  {{ section.name }}
                </button>
                <div class="collapse" id="{{ section.name|lower }}-collapse" style="">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    {% for object in section.queryset %}
                      <li>
                        <a href="{{ object.get_absolute_url }}" class="link-light">
                          {{ object }}
                        </a>
                      </li>
                    {% endfor %}
                    {% if section.queryset and section.links %}
                      <li class="ps-1 pe-2 ms-4"><hr class="mt-2 mb-1"></li>
                    {% endif %}
                    {% for link in section.links %}
                      <li>
                        <a href="{{ link.url }}" class="link-light">
                          {{ link.name }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% else %}
                <a href="{{ section.links.0.url }}">
                  <button
                      class="btn btn-toggle align-items-center collapsed"
                      aria-expanded="false">
                    <i class="fas fa-fw {{ section.icon }} me-2"></i>
                    {{ section.name }}
                  </button>
                </a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        <footer class="footer small mb-3">
          <span class="copyright">&copy; {% now "Y" %} Dungeonomics</div>
          <ul class="list-unstyled">
            <li><a href="{% url 'donate' %}">Donate</a></li>
            <li><a href="mailto:dungeonomics@gmail.com">Contact</a></li>
            <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
          </ul>
          <ul id="footer-social" class="list-inline">
            <li class="list-inline-item"><a href="https://twitter.com/dungeonomics" target="_blank"><i class="fab fa-twitter fa-lg"></i><span class="sr-only">Dungeonomics Twitter</span></a></li>
            <li class="list-inline-item"><a href="https://reddit.com/r/dungeonomics" target="_blank"><i class="fab fa-reddit-alien fa-lg"></i><span class="sr-only">Dungeonomics Reddit</span></a></li>
            <li class="list-inline-item"><a href="https://github.com/brunosardinepi/dungeonomics" target="_blank"><i class="fab fa-github fa-lg"></i><span class="sr-only">Dungeonomics GitHub</span></a></li>
          </ul>
        </footer>
      </nav>

      {% block breadcrumbs %}{% endblock %}

      {% block header_title %}{% endblock %}

      {% include "messages.html" %}
      {% block body_content %}{% endblock %}
        
      {% block body_extra %}{% endblock %}
    </main>
	</body>
</html>
