{% extends "_cover.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load account socialaccount %}

{% block head_extra %}
    <link rel="stylesheet" href="/static/css/login.css"/>
{% endblock %}

{% block title %}Login | {{ block.super }}{% endblock %}

{% block body_content %}

    <div class="row">
        <div class="col-md-12">
            <div class="logo">
                <a href="{% url 'home' %}" title="Dungeonomics">
                    <img src="/static/img/logo_login.png" alt="Dungeonomics">
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body" style="padding: 15px 0 15px;">
                    <div class="col-md-6">
                        <form class="login" method="POST" action="{% url 'account_login' %}">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            {% buttons %}
                                <button class="primaryAction btn btn-success btn-block" type="submit">Sign in</button>
                            {% endbuttons %}
                            <p class="text-center login-text" style="margin-top: -10px;"><a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot password?</a></p>
                        </form>
                    </div>
                    <div class="col-md-6" style="height: 154px;">
                        <div class="auth-div">
                           {% get_providers as socialaccount_providers %}

                            {% if socialaccount_providers %}
                                {% for socialaccount_provider in socialaccount_providers %}
                                    {% if socialaccount_provider.name|lower == 'facebook' %}
                                        <a class="btn btn-primary btn-block auth-facebook" href="http://dungeonomics.com/accounts/facebook/login/?process=login"><span class="auth-text">Sign in with Facebook</span></a>
                                    {% elif socialaccount_provider.name|lower == 'google' %}
                                        <a class="btn btn-primary btn-block auth-google"href="http://dungeonomics.com/accounts/google/login/?process=login"><span class="auth-text">Sign in with Google</span></a>
                                    {% endif %}
                                {% endfor %}
                                {% include "socialaccount/snippets/login_extra.html" %}
                            {% endif %}
                            <p class="text-center login-text">Don't have an account yet? <a href="{{ signup_url }}">Sign up!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}