{% extends "_cover.html" %}

{% load account socialaccount %}

{% block head_extra %}
    <link rel="stylesheet" href="/static/css/login.css"/>
{% endblock %}

{% block title %}Password reset | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="logo">
                <a href="{% url 'home' %}" title="Dungeonomics">
                    <img src="/static/img/logo_login.png" alt="Dungeonomics">
                </a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="px-1 mb-0 text-center">
                        Password reset
                    </h5>
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <p class="text-center">Your password has been changed.</p>
                        <a href="{% url 'profile' %}" class="btn btn-success btn-block mt-5">Return to profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}