{% extends "_cover.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load account socialaccount %}

{% block head_extra %}
    <link rel="stylesheet" href="/static/css/login.css"/>
{% endblock %}

{% block title %}Password Reset | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="logo">
                <a href="{% url 'home' %}" title="Dungeonomics">
                    <img src="/static/img/logo_login.png" alt="Dungeonomics">
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body" style="padding: 15px 0 0;">
                    <div class="col-md-12">
                        <h3 class="text-center" style="margin: 10px 0 20px;">{% trans "Password Reset" %}</h3>
                        <p class="text-center">{% trans "Your password has been changed." %}</p>
                        <a href="{% url 'profile' %}" class="btn btn-success btn-block">Return to Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}