{% extends "_cover.html" %}

{% load account %}
{% load widget_tweaks %}

{% block title %}Password reset | {{ block.super }}{% endblock %}

{% block body_content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 black-transparent-blackground p-5">
      <p>Enter your e-mail address and we will send you a link to reset your password.</p>
      <form method="POST" action="{% url 'account_reset_password' %}">
        {% csrf_token %}

        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
        {% endif %}

        {% render_field form.email class+="form-control form-control-dark mb-3" %}
        {% if form.email.errors %}
          {% for error in form.email.errors %}
            <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
          {% endfor %}
        {% endif %}

        <div class="d-grid">
          <button class="btn btn-success" type="submit">Reset password</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
