{% extends "_cover.html" %}

{% load static %}
{% load account %}
{% load widget_tweaks %}


{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
{% endblock %}

{% block title %}Password reset | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="logo">
                <a href="{% url 'home' %}" title="Dungeonomics">
                    <img src="/static/img/logo_login.png" alt="Dungeonomics">
                </a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <p>Enter your e-mail address and we will send you a link to reset your password.</p>
                    <form method="POST" action="{% url 'account_reset_password' %}">
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}

                        {% render_field form.email class+="form-control mb-3" %}
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        <button class="btn btn-success btn-block" type="submit">Reset password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
