{% extends "_cover.html" %}

{% load account socialaccount %}

{% block head_extra %}
    <link rel="stylesheet" href="/static/css/login.css"/>
{% endblock %}

{% block title %}Password reset | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="logo">
                <a href="{% url 'home' %}" title="Dungeonomics">
                    <img src="/static/img/logo_login.png" alt="Dungeonomics">
                </a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12">
                        <p>We have sent you a password reset email. If you don't receive an email within the next few minutes, please check your Spam folder and then <a href="mailto:dungeonomics@gmail.com">contact us</a> if needed.</p>
                        <a href="{% url 'profile' %}" class="btn btn-success btn-block">Return to Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}