{% extends "_cover.html" %}

{% load account %}

{% block title %}Password reset | {{ block.super }}{% endblock %}

{% block body_content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 black-transparent-blackground p-5">
      <p>We have sent you a password reset email. If you don't receive an email within the next few minutes, please check your Spam folder and then <a href="mailto:dungeonomics@gmail.com">contact us</a> if needed.</p>
      <div class="d-grid">
        <a href="{% url 'profile' %}" class="btn btn-success">Return to Profile</a>
      </div>
    </div>
  </div>
{% endblock %}
