{% extends "_cover.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load account socialaccount %}

{% block head_extra %}
    <link rel="stylesheet" href="/static/css/login.css"/>
{% endblock %}

{% block title %}Password Reset Sent | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="logo">
                <a href="{% url 'home' %}" title="Dungeonomics">
                    <img src="/static/img/logo_login.png" alt="Dungeonomics">
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body" style="padding: 15px 0 0;">
                    <div class="col-md-12">
                        <p>We have sent you a password reset email. If you don't receive an email within the next few minutes, please check your Spam folder and then <a href="mailto:dungeonomics@gmail.com">contact us</a> if needed.</p>
                        <hr>
                        <a href="{% url 'profile' %}" class="btn btn-success btn-block">Return to Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}