{% extends "_cover.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load account socialaccount %}

{% block head_extra %}
    <link rel="stylesheet" href="/static/css/login.css"/>
{% endblock %}

{% block title %}Password Reset | {{ block.super }}{% endblock %}

{% block body_content %}

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="logo">
                <a href="{% url 'home' %}" title="Dungeonomics">
                    <img src="/static/img/logo_login.png" alt="Dungeonomics">
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body" style="padding: 15px 0 0;">
                    <div class="col-md-12">
                        <p>Enter your e-mail address and we will send you a link to reset your password.</p>
                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% buttons %}
                                <button class="btn btn-success btn-block" type="submit">Reset password</button>
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}