{% extends 'layout.html' %}
{% load bootstrap3 %}

{% block title %}Privacy Policy | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row campaign-row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>
                        We are collecting the following data from you:
                        <ul>
                            <li>First and last name</li>
                            <li>Email address</li>
                        </ul>
                    </p>
                    <p>
                        We are using this data to link your account to you. We do not give this information out to anyone. It is only being used to identify you upon login.
                    </p>
                    <p>
                        If you have questions about our privacy policy, please <a href="mailto:dungeonomics@gmail.com">contact us</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}