{% extends 'layout.html' %}

{% block title %}Privacy Policy | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row mt-3 justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body text-center">
                    <p>We are collecting the following data from you:</p>
                    <p>
                        <span class="fw-bold">First and last name</span>
                        <br />
                        <span class="fw-bold">Email address</span>
                    </p>
                    <p>We are using this data to link your account to you. We do not give this information out to anyone. It is only being used to identify you upon login.</p>
                    <p>If you have questions about our privacy policy, please <a href="mailto:dungeonomics@gmail.com">contact us</a>.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
