{% extends 'layout.html' %}

{% load socialaccount %}
{% load static from staticfiles %}


{% block title %}Profile | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row mt-3 pb-3">
        <div class="col-lg-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="px-1 mb-0">Profile</h5>
                </div>
                <div class="card-body">
                    <p><span class="font-weight-bold">Email:</span> {{ user.email }} (<a href="{% url 'account_email' %}">Update</a>)</p>
                    <hr>
                    <a href="{% url 'account_reset_password' %}" class="btn btn-primary btn-block">Reset password</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="px-1 mb-0">Social Accounts</h5>
                </div>
                <div class="card-body">
                    <p>You currently have the following social accounts connected to Dungeonomics:</p>
                    <ul>
                        {% get_social_accounts user as accounts %}
                        {% if accounts %}
                            {% for account in accounts %}
                                <li><span class="font-weight-bold">{{ account|capfirst }}</span></li>
                            {% endfor %}
                        {% else %}
                            <li><span class="font-weight-bold">None</span></li>
                        {% endif %}
                    </ul>
                    <hr>
                    <a href="{% url 'socialaccount_connections' %}" class="btn btn-success btn-block">Manage Accounts</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="px-1 mb-0">Delete Account</h5>
                </div>
                <div class="card-body">
                    <p>If you delete your account, it's gone forever.</p>
                    <hr>
                    <a id="account-delete" href="{% url 'account_delete' %}" class="btn btn-danger btn-block">Delete account</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_extra %}
    <script src="{% static 'js/account_delete.js' %}"></script>
{% endblock %}