{% extends 'layout.html' %}
{% load bootstrap3 %}

{% block title %}Profile | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row campaign-row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Profile
                    </h3>
                </div>
                <div class="panel-body">
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <hr>
                    <a href="{% url 'home' %}" class="btn btn-primary">Reset password</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Title
                    </h3>
                </div>
                <div class="panel-body">
                    Body
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Delete Account
                    </h3>
                </div>
                <div class="panel-body">
                    <p>If you delete your account, it's gone forever.</p>
                    <a href="{% url 'account_delete' %}" class="btn btn-danger">Delete account</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}