{% extends "_cols.html" %}

{% load static %}


{% block title %}Resources | {{ block.super }}{% endblock %}


{% block col1_order %}order-1{% endblock col1_order %}

{% block col1_title %}Resource types{% endblock col1_title %}

{% block col1_tools %}
    {% include "resources_col1_tools_items.html" %}
{% endblock col1_tools %}

{% block col1_contents %}
    <div id="col1-contents">
        <ul class="contents_list">
            {% for asset_type, list in assets.items %}
                <li>
                    <a href="#" class="asset-type{% if active_asset_type == asset_type %} font-weight-bold{% endif %}">{{ asset_type }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock col1_contents %}


{% block col2_order %}order-2{% endblock col2_order %}

{% block col2_title %}{{ active_asset_type }}{% endblock col2_title %}

{% block col2_tools %}
    <p>
        <a href="#" id="select-all" class="text-success"><i class="fas fa-fw fa-lg fa-check-square"></i><span>Select all</span></a>
    </p>
{% endblock col2_tools %}

{% block col2_contents %}
    <div id="col2-contents">
        {% include "resources_assets.html" with assets=active_assets asset_type=active_asset_type %}
    </div>
{% endblock col2_contents %}


{% block col3_order %}order-lg-3 order-4{% endblock col3_order %}

{% block col3_title %}{% endblock col3_title %}

{% block col3_tools %}
    <p>Please select an asset to view its information.</p>
{% endblock col3_tools %}

{% block col3_contents %}
    <div id="col3-contents"></div>
{% endblock col3_contents %}


{% block col4_order %}order-lg-4 order-3{% endblock col4_order %}

{% block col4_title %}Tags{% endblock col4_title %}

{% block col4_tools %}
{% endblock col4_tools %}

{% block col4_contents %}
{% endblock col4_contents %}


{% block body_extra %}
    {{ block.super }}
    <script src="{% static 'js/resources.js' %}"></script>
{% endblock %}
