{% extends "_cols.html" %}

{% load static %}


{% block title %}SRD characters | {{ block.super }}{% endblock %}


{% block col1_order %}order-1{% endblock col1_order %}

{% block col1_title %}SRD asset types{% endblock col1_title %}

{% block col1_tools %}
    <p>
        <a href="#" class="text-success"><i class="fas fa-fw fa-lg fa-check-square"></i><span>Select all</span></a>
    </p>
{% endblock col1_tools %}

{% block col1_contents %}
    <ul class="contents_list">
        {% for asset_type, list in assets.items %}
            <li>
                <a href="#" class="asset-type{% if active_asset_type == asset_type %} font-weight-bold{% endif %}">{{ asset_type }}</a>
            </li>
        {% endfor %}
    </ul>

    <hr>
    <p>These assets are provided by the <a href="http://dnd.wizards.com/articles/features/systems-reference-document-srd" target="_blank">SRD</a> and used in accordance with the <a href="http://www.opengamingfoundation.org/ogl.html" target="_blank">Open Gaming License</a>.<p>
{% endblock col1_contents %}


{% block col2_order %}order-2{% endblock col2_order %}

{% block col2_title %}SRD assets{% endblock col2_title %}

{% block col2_tools %}
    <p>
        <a href="#" class="text-success"><i class="fas fa-fw fa-lg fa-check-square"></i><span>Select all</span></a>
    </p>
{% endblock col2_tools %}

{% block col2_contents %}
    <div id="col2-contents">
        {% include "srd_assets.html" with assets=active_assets asset_type=active_asset_type %}
    </div>
{% endblock col2_contents %}


{% block col3_order %}order-lg-3 order-4{% endblock col3_order %}

{% block col3_title %}{% endblock col3_title %}

{% block col3_tools %}
    <p>
        <a href="#" class="add-asset-from-tools text-success"><i class="fas fa-fw fa-lg fa-plus-square"></i><span>Add to import list</span></a>
    </p>
{% endblock col3_tools %}

{% block col3_contents %}
    <div id="col3-contents"></div>
{% endblock col3_contents %}


{% block col4_order %}order-lg-4 order-3{% endblock col4_order %}

{% block col4_title %}Import list{% endblock col4_title %}

{% block col4_tools %}
    <p>
        <a href="#" class="text-success"><i class="fas fa-fw fa-lg fa-times-square"></i><span>Remove all</span></a>
    </p>
{% endblock col4_tools %}

{% block col4_contents %}
    <form method="POST" action="">
        {% csrf_token %}

        <ul id="col4-contents-ul" class="contents_list"></ul>

        <hr>
        <div class="row justify-content-between">
            <div class="col-auto">
                <input type="submit" class="btn btn-primary" value="Import">
            </div>
        </div>
    </form>
{% endblock col4_contents %}


{% block body_extra %}
    {{ block.super }}
    <script src="{% static 'js/srd.js' %}"></script>
{% endblock %}
