<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://dungeonomics.com",
        "sameAs": [
            "https://twitter.com/dungeonomics",
            "https://reddit.com/r/dungeonomics"
        ],
        "logo": "https://dungeonomics.com/static/img/logo_og.png",
        "name": "Dungeonomics",
        "email": "dungeonomics@gmail.com",
        "contactPoint": {
          "email": "dungeonomics@gmail.com",
          "contactType": "Customer service"
        }
    }
</script>