{% extends 'layout.html' %}

{% block title %}Email verification required | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="px-1 mb-0">
                        Email verification required
                    </h5>
                </div>
                <div class="card-body">
                    <p>We have sent you an email for verification. Follow the link in the email to finalize the signup process. Please check your Spam folder and then <a href="mailto:dungeonomics@gmail.com">contact us</a> if you don't receive it within a few minutes.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}