{% load humanize %}
{% load lib_extras %}
{% load static from staticfiles %}


{% if posts %}
    {% for post in posts %}
        <div class="row">
            <div class="col-md font-weight-bold">
                {{ post.title }}
            </div>
            <div class="col-md-2 text-right small">
                {% if request.user == campaign.user %}
                    <a class="post-delete text-danger" href="{% url 'campaign:post_delete' campaign_pk=campaign.pk post_pk=post.pk %}">D</a>
                {% endif %}
            </div>
        </div>
        <div class="row small mb-2 text-secondary">
            <div class="col">
                <i class="fas fa-clock mr-1"></i>{{ post.date|naturaltime }}
                <i class="fas fa-user mr-1 ml-3"></i>{{ post.user.email|post_user }}
                <i class="fal fa-comments mr-1 ml-3"></i>20 comments
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ post.body|linebreaks }}
            </div>
        </div>

        {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
{% else %}
    <p>No posts yet!</p>
{% endif %}

{% block body_extra %}
    <script src="{% static 'js/post_delete.js' %}"></script>
{% endblock %}