{% load humanize %}
{% load lib_extras %}
{% load static from staticfiles %}


{% if posts %}
    {% for post in posts %}
        <div class="row">
            <div class="col font-weight-bold">
                <a href="{% url 'campaign:post_detail' campaign_pk=campaign.pk post_pk=post.pk %}">{{ post.title }}</a>
            </div>
        </div>
        <div class="row small mb-2 text-secondary">
            <div class="col">
                <i class="fas fa-clock mr-1"></i>{{ post.date|naturaltime }}
                <i class="fas fa-user mr-1 ml-3"></i>{{ post.user.email|post_user }}
                <i class="fal fa-comments mr-1 ml-3"></i>{{ post.comments.count }} comments
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ post.body|linebreaks }}
            </div>
        </div>

        {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
{% else %}
    <p>No posts yet!</p>
{% endif %}